.section-greed._container 
	.section-greed__body 
		.mask-render
		.bg-grad 
		.section-greed__content 
			.section-greed__column
				aside.aside-menu(data-da="bp-1" data-da-position="1" data-da-resolution="690")
					ul.aside-menu__list 
						li.aside-menu__item 
							span.aside-menu__link.link-hover Церковь
						ul.aside-menu__sub-menu 
							li.aside-menu__item 
								a(href=linkTo('church/church-history', filename)).aside-menu__link.link_underline  Церковь в истории 
							li.aside-menu__item 
								a(href=linkTo('church/prihodsk-zhizn', filename)).aside-menu__link.link_underline Епархиальная и приходская жизнь 
							li.aside-menu__item._toggle-menu
								.aside-menu__link._trigger  
									span О таинствах церкви
									+iconfont('angle-down', 'icon')
								.aside-menu__collapse 
									ul.aside-menu__sub-menu
										li.aside-menu__item 
											a(href=linkTo('church/kreshenie', filename)).aside-menu__link.link_underline
												span Крещение
										li.aside-menu__item 
											a(href=linkTo('church/pokayanie', filename)).aside-menu__link.link_underline
												span Покаяние
										li.aside-menu__item 
											a(href=linkTo('church/evharistiya', filename)).aside-menu__link.link_underline
												span Евхаристия
										li.aside-menu__item 
											a(href=linkTo('church/soborovanie', filename)).aside-menu__link.link_underline
												span Соборование (елеосвящение)
										li.aside-menu__item 
											a(href=linkTo('church/miropomazanie', filename)).aside-menu__link.link_underline
												span Миропомазание
										li.aside-menu__item 
											a(href=linkTo('church/venchanie', filename)).aside-menu__link.link_underline
												span Венчание
										li.aside-menu__item 
											a(href=linkTo('church/svyashenstvo', filename)).aside-menu__link.link_underline
												span Священство 
										li.aside-menu__item 
											a(href=linkTo('church/pominanie', filename)).aside-menu__link.link_underline
												span Поминовение усопших
							li.aside-menu__item 
								a(href=linkTo('church/social', filename)).aside-menu__link.link_underline Социальное служение 
							li.aside-menu__item 
								a(href=linkTo('church/catechism', filename)).aside-menu__link.link_underline Образование и катехизис 
							li.aside-menu__item.link-hover  
								span.aside-menu__link Монашество 
			.section-greed__column 
				.section-greed__bread-crumbs
					nav.bread-crumbs
						ul.bread-crumbs__list
							li
								a(href=getWebRoot(filename) + "index.html" aria-label="home").bread-crumbs__link.link_underline Главная 
							li.bread-crumbs__item  
								+iconfont('angle-right', '_icon')
							li
								a(href=linkTo('church/church', filename) title="Церковь").bread-crumbs__link.link_underline Церковь 
							li.bread-crumbs__item  
								+iconfont('angle-right', '_icon')
							li
								span._item Монашество
				.section-greed__title 
					hgroup.title.tl-02 
						h1 
							span Монашество
					.hr 
						+picture('/img/frame/hr.png', 'image') 
				.section-greed__row
					.info-content 
						.info-content__column 
							.info-content__row
								p <strong>Церковь</strong> – это собрание верующих. Обратимся к&nbsp;истории понятия. Современное слово в&nbsp;русском языке, в&nbsp;его современном фонетическом произношении — «церковь», по&nbsp;мнению ученых-языковедов, восходит к&nbsp;греческому прилагательному «Κυριακόν» – «Господне, Господу принадлежащее» (от&nbsp;него же&nbsp;произошло название церкви во&nbsp;многих языках мира, в&nbsp;частности, германских: нем. «Kirche»; англ. «church»; слав. «цръквь», «цркы»; рус. «церковь»).
								p При&nbsp;этом в&nbsp;греческой традиции, о&nbsp;чем свидетельствуют тексты Нового Завета, и&nbsp;святоотеческой литературы, понятие «церковь» обозначалось другим греческим словом: «Ἐκκλησία», то есть «собрание». И&nbsp;непосредственно к&nbsp;этому понятию восходит слово церковь на&nbsp;латыни (и у&nbsp;большинства народов романской языковой группы: фр.&nbsp;«église»; испан. «iglesia»). Итак, церковь – это&nbsp;собрание людей, принадлежащих Господу.
								p В 25-м Псалме говорится: «Возненавидех церковь лукавнующих, и&nbsp;с&nbsp;нечестивыми не&nbsp;сяду». То есть имеется в виду не здание храма, а&nbsp;собрание нечестивых.
								p Интересно, что&nbsp;первоначально слово «Ἐκκλησία», которое мы&nbsp;сегодня переводим как «церковь», не&nbsp;имело религиозного значения, но&nbsp;обозначало группу людей, которых призывали время от&nbsp;времени на&nbsp;те или&nbsp;иные важные народные собрания. «Ἐκκλησία» произошло из&nbsp;двух слов «ἐκ» – «из» и&nbsp;καλέω – «призывать». Таким образом, буквально — это&nbsp;«призвать откуда-то», «вызвать из».