.section-greed._container 
	.section-greed__body 
		.mask-render
		.bg-grad 
		.section-greed__content 
			.section-greed__column
				nav.section-greed__menu(data-da="bp-1" data-da-position="1" data-da-resolution="690")
					ul.section-greed__list 
						li.section-greed__item 
							span.section-greed__link.link-hover Церковь
						ul.section-greed__sub-menu 
							li.section-greed__sub-item 
								a(href=linkTo('church/church-history', filename)).section-greed__link.link_underline  Церковь в истории 
							li.section-greed__sub-item 
								a(href=linkTo('church/prihodsk-zhizn', filename)).section-greed__link.link_underline Епархиальная и приходская жизнь 
							li.section-greed__sub-item 
								a(href=linkTo('church/social', filename)).section-greed__link.link_underline Социальное служение 
							li.section-greed__sub-item 
								a(href=linkTo('church/catechism', filename)).section-greed__link.link_underline Образование и катехизис 
							li.section-greed__sub-item 
								a(href=linkTo('church/monashestvo', filename)).section-greed__link.link_underline Монашество 
			.section-greed__column 
				.section-greed__bread-crumbs
					nav.bread-crumbs
						ul.bread-crumbs__list
							li
								a(href=getWebRoot(filename) + "index.html" aria-label="home").bread-crumbs__link.link_underline Главная 
							li.bread-crumbs__item  
								+iconfont('angle-right', '_icon')
							li
								span.bread-crumbs__item Церковь
				.section-greed__title 
					hgroup.title.tl-02 
						h1 
							span Что такое Церковь?
					.hr 
						+picture('/img/frame/hr.png', 'image') 
				.section-greed__row
					.info-content 
						.info-content__column 
							.info-content__row
								p <strong>Церковь</strong> – это собрание верующих. Обратимся к&nbsp;истории понятия. Современное слово в&nbsp;русском языке, в&nbsp;его современном фонетическом произношении — «церковь», по&nbsp;мнению ученых-языковедов, восходит к&nbsp;греческому прилагательному «Κυριακόν» – «Господне, Господу принадлежащее» (от&nbsp;него же&nbsp;произошло название церкви во&nbsp;многих языках мира, в&nbsp;частности, германских: нем. «Kirche»; англ. «church»; слав. «цръквь», «цркы»; рус. «церковь»).
								p При&nbsp;этом в&nbsp;греческой традиции, о&nbsp;чем свидетельствуют тексты Нового Завета, и&nbsp;святоотеческой литературы, понятие «церковь» обозначалось другим греческим словом: «Ἐκκλησία», то есть «собрание». И&nbsp;непосредственно к&nbsp;этому понятию восходит слово церковь на&nbsp;латыни (и у&nbsp;большинства народов романской языковой группы: фр.&nbsp;«église»; испан. «iglesia»). Итак, церковь – это&nbsp;собрание людей, принадлежащих Господу.
								p В 25-м Псалме говорится: «Возненавидех церковь лукавнующих, и&nbsp;с&nbsp;нечестивыми не&nbsp;сяду». То есть имеется в виду не здание храма, а&nbsp;собрание нечестивых.
								p Интересно, что&nbsp;первоначально слово «Ἐκκλησία», которое мы&nbsp;сегодня переводим как «церковь», не&nbsp;имело религиозного значения, но&nbsp;обозначало группу людей, которых призывали время от&nbsp;времени на&nbsp;те или&nbsp;иные важные народные собрания. «Ἐκκλησία» произошло из&nbsp;двух слов «ἐκ» – «из» и&nbsp;καλέω – «призывать». Таким образом, буквально — это&nbsp;«призвать откуда-то», «вызвать из».
								p То есть Церковь – это&nbsp;собрание людей, не&nbsp;только принадлежащих Господу, но&nbsp;и&nbsp;призванных Богом. Каждого из&nbsp;нас Христос призывает к&nbsp;Себе, как&nbsp;в&nbsp;Своей земной жизни Он, выйдя на&nbsp;проповедь, призвал к&nbsp;Себе учеников, говоря: «идите за&nbsp;Мною, и Я&nbsp;сделаю вас ловцами человеков» (Матф. 4:19).
								p Наша славянская традиция, восприняв за&nbsp;основу греческое «Κυριακόν», определяющим значением понятия «церковь» избрала — принадлежность Господу. То&nbsp;есть в&nbsp;языковом сознании славянских и&nbsp;германских народов в&nbsp;слове «церковь» главенствующий смысл заключается в&nbsp;том, что&nbsp;и&nbsp;сама церковь, и&nbsp;все люди в&nbsp;ней — Господни, они принадлежат Господу. В слове&nbsp;же «Ἐκκλησία» определяющим становится понятие призвания, призвания человека Богом. Призвания в&nbsp;самом глубоком, самом возвышенном понимании этого слова. Призвания – как&nbsp;покаяния.
								p Здесь снова необходимо оговориться. Большинство людей понимают слово покаяние – как&nbsp;раскаяние во грехах. На&nbsp;самом&nbsp;же деле раскаяние – это&nbsp;всего лишь часть покаянного процесса. Главный, прямой смысл слова покаяние – это&nbsp;изменение ума, «перемена мысли», «переосмысление» (др.-греч. Μετάνοια), осознание своей греховности и&nbsp;отказ от&nbsp;прежней нечистой жизни.
								p Пример такого призвания Господом и &nbsp;ответного покаяния человека мы &nbsp;встречаем в Евангелии. После чудесного лова рыбы на &nbsp;озере Геннисаретском, у &nbsp;Симона Петра вдруг открываются глаза, внутреннее зрение — он &nbsp;видит Христа, осознает, Кто перед ним, и&nbsp;припадая к&nbsp;коленям Иисуса, говорит: «выйди от&nbsp;меня, Господи! потому что&nbsp;я&nbsp;человек грешный». (Лк. 5:8)
								p Или призвание Апостола Павла. Этот человек, звали его&nbsp;Савл, соблюдал все заповеди своего народа, жил в&nbsp;посте, воздержании и молитве, и&nbsp;был совершенно искренно уверен в&nbsp;своей правоте, в&nbsp;истинности своего служения. И&nbsp;вдруг на&nbsp;пути из&nbsp;Иерусалима в&nbsp;Дамаск «внезапно осиял его свет с&nbsp;неба. Он&nbsp;упал на&nbsp;землю и&nbsp;услышал голос, говорящий ему: Савл, Савл! что&nbsp;ты гонишь Меня? Он сказал: кто Ты, Господи? Господь же сказал: Я Иисус, Которого ты&nbsp;гонишь». (Деян. 9: 3-5). И&nbsp;Павел ослеп, и&nbsp;три дня не&nbsp;ел и&nbsp;не пил. И&nbsp;из ревнителя иудейского Закона, из&nbsp;жестокого гонителя христиан превратился в&nbsp;одного из&nbsp;самых горячих последователей Христа.
								p Итак, церковь – это&nbsp;не дерево или камни, это&nbsp;люди, это&nbsp;община, которая собирается в&nbsp;храме и&nbsp;которую освящает своим присутствием Сам Господь. И&nbsp;церковь эта&nbsp;может быть посреди леса или&nbsp;пустыни: «где&nbsp;двое или&nbsp;трое собраны во&nbsp;имя Мое, там&nbsp;Я посреди них» (Мф.&nbsp;18:19).
								p Словом «Церковь» может также&nbsp;обозначаться «собрание людей, принадлежащих Господу», в&nbsp;пределах епархии&nbsp;или какого-то места. Отсюда название «Поме́стная Церковь». Всего в&nbsp;современном Диптихе, принятом в&nbsp;Русской Церкви, упоминаются 15&nbsp;автокефальных поместных церквей.
								p Еще&nbsp;более масштабное понятие – Вселенская Церковь. То есть собрание православных христиан, живущих по&nbsp;всему миру. Вселенская Церковь объединяет все&nbsp;Поместные Церкви.
								p И, наконец, в&nbsp;самом полном смысле слова Церковь&nbsp;Христова – это&nbsp;собрание всех, кто&nbsp;верит и&nbsp;любит Христа, причем собрание не&nbsp;только живущих, но&nbsp;и умерших. Это Церковь Небесная, где&nbsp;пребывают Пресвятая Богородица, Ангельские силы, все&nbsp;святые и&nbsp;спасшиеся христиане, которая также&nbsp;именуется Торжествующей, и&nbsp;Церковь Земная, называющаяся Воинствующей, поскольку ведет постоянную брань с&nbsp;отцом всякой лжи и&nbsp;его приспешниками. Церковь – единое Тело&nbsp;Христово. И все&nbsp;мы являемся, или&nbsp;по&nbsp;крайней мере, стараемся быть&nbsp;членами этой&nbsp;Церкви, и&nbsp;потому мы молимся и&nbsp;за живых, и&nbsp;за усопших, поскольку верим в&nbsp;бессмертие души.
								p Что касается слова «собор», то&nbsp;в&nbsp;современном понимании – это&nbsp;главное церковное сооружение города или&nbsp;монастырского комплекса, в&nbsp;котором богослужение совершает епископ (архиепископ, митрополит, патриарх). Само слово происходит от&nbsp;старославянских «съезд», «собрание». Главное отличие собора от&nbsp;храма — особый статус, усвояемый церковному сооружению по&nbsp;причине особого положения храма или&nbsp;его значения. Русскому слову «собор» в&nbsp;западноевропейских языках соответствуют cathedral (англ), cathédrale (фр.), cattedrale (итал.), происходящие от&nbsp;слова «кафедра». То&nbsp;есть храм с&nbsp;кафедрой епископа.