.section-greed._container 
	.section-greed__body 
		.mask-render
		.bg-grad 
		.section-greed__content 
			.section-greed__column
				aside.aside-menu(data-da="bp-1" data-da-position="1" data-da-resolution="690")
					ul.aside-menu__list 
						li.aside-menu__item.link-hover 
							span.aside-menu__link Церковь
						ul.aside-menu__sub-menu 
							li.aside-menu__item 
								a(href=linkTo('church/church-history', filename)).aside-menu__link
									span Крещение
							li.aside-menu__item 
								a(href=linkTo('church/prihodsk-zhizn', filename)).aside-menu__link
									span Епархиальная и приходская жизнь 
							li.aside-menu__item._toggle-menu.is-active 
								.aside-menu__link._trigger  
									span О таинствах церкви
									+iconfont('angle-down', 'icon')
								.aside-menu__collapse 
									ul.aside-menu__sub-menu
										li.aside-menu__item
											a(href=linkTo('church/kreshenie', filename)).aside-menu__link 
												span Крещение
										li.aside-menu__item 
											a(href=linkTo('church/pokayanie', filename)).aside-menu__link 
												span Покаяние
										li.aside-menu__item
											a(href=linkTo('church/evharistiya', filename)).aside-menu__link 
												span Евхаристия
										li.aside-menu__item
											a(href=linkTo('church/soborovanie', filename)).aside-menu__link 
												span Соборование (елеосвящение)
										li.aside-menu__item.link-hover 
											.aside-menu__link 
												span Миропомазание
										li.aside-menu__item 
											a(href=linkTo('church/venchanie', filename)).aside-menu__link 
												span Венчание
										li.aside-menu__item 
											a(href=linkTo('church/svyashenstvo', filename)).aside-menu__link 
												span Священство 
										li.aside-menu__item 
											a(href=linkTo('church/pominanie', filename)).aside-menu__link 
												span Поминовение усопших 
							li.aside-menu__item 
								a(href=linkTo('church/social', filename)).aside-menu__link
									span Социальное служение 
							li.aside-menu__item 
								a(href=linkTo('church/catechism', filename)).aside-menu__link
									span Образование и катехизис 
							li.aside-menu__item 
								a(href=linkTo('church/monashestvo', filename)).aside-menu__link
									span Монашество 
			.section-greed__column 
				.section-greed__bread-crumbs
					nav.bread-crumbs
						ul.bread-crumbs__list
							li
								a(href=getWebRoot(filename) + "index.html" aria-label="home").bread-crumbs__link.link_underline Главная 
							li.bread-crumbs__item  
								+iconfont('angle-right', '_icon')
							li
								a(href=linkTo('church/church', filename)).bread-crumbs__link.link_underline Церковь  
							li.bread-crumbs__item  
								+iconfont('angle-right', '_icon')
							li
								.bread-crumbs__link Таинства церкви 
							li.bread-crumbs__item  
								+iconfont('angle-right', '_icon')
							li
								span.bread-crumbs__item Таинство миропомазания
				.section-greed__title 
					hgroup.title.tl-02 
						h1 
							span Таинство миропомазания 
				.section-greed__row
					.info-content 
						.info-content__column 
							.info-content__row
								.hr 
									+picture('/img/frame/hr.png', 'image') 
								p <strong>Миропома́зание</strong> (др.-греч. χρίσμα, лат. chrisma) — священнодействие в христианских церквях; является таинством в Православной, Католической, Древних восточных церквях и в некоторых протестантских церквях, через которое верующему подаются дары Святого Духа, укрепляющие его в духовной жизни. Как поясняет протопресвитер Александр Шмеман, речь идёт не о различных дарах Святого Духа, а о самом Святом Духе, Который сообщается человеку как дар. В православии и католических церквях sui iuris, использующих византийский обряд, миропомазание совершается священником сразу после крещения, в западных обрядах католической церкви миропомазание, или конфирмацию, крещённых людей обычно совершает епископ (в особых случаях — священник), крещённых детей — при достижении ими 7—12 лет. В протестантизме миропомазание не является таинством.
								.info-content__image.current.left
									+picture('img/photo/miropomazanie.jpg', 'image')
								h4 <strong>Историческое происхождение</strong>
								p Установление таинства миропомазания восходит к апостольским временам. В первоначальной Церкви каждый новокрещёный получал благословение и дар Святого Духа через возложение рук апостола или епископа. Но уже в самих апостольских посланиях дар Святого Духа, которым обладают христиане, иногда называется «помазанием» (1Ин. 2:20, 2Кор. 1:21).
								p Лаодикийский собор (343 год) издал правило: «Подобает просвещаемым быть помазуемым Помазанием небесным, и быть причастниками Царствия Божия» (правило 48). Этим собор закрепил практику совершения миропомазания сразу после крещения, что вероятно не всегда совершалось во времена Лаодикийского собора.
								p О таинстве миропомазания писали богословы первых веков христианства:
								p <strong>Григорий Богослов (IV век):</strong> «Если оградишь себя печатью, обезопасишь свою будущность лучшим и самым действенным способом, ознаменовав душу и тело Миропомазанием и Духом, как древний Израиль ночной и охраняющей кровью первенцев и помазанием (Исх. 12:13), тогда что может с тобой случиться?».
								p  <strong>Архиепископ Фессалоникийский Симеон о миропомазании пишет следующее:</strong> Миропомазание полагает первую печать и восстанавливает образ Божий, повреждённый в нас через преслушание. Точно так же оно возрождает в нас благодать, которую Бог вдунул в душу человеческую. Миропомазание содержит в себе силу Духа Святого. Оно — сокровищница Его благоухания, знамение и печать Христовы.
								h4 <strong>Порядок совершения таинства</strong>
								p В Православной церкви внешняя сторона таинства заключается в том, что епископ, а гораздо чаще священник, ритуально мажет некоторые части тела человека особо освящённым ароматическим маслом — миром, через которое передаётся божественная благодать. Перед миропомазанием священник читает молитву о ниспослании на человека Духа Святого, а затем помазывает ему крестообразно лоб, глаза, ноздри, уста, уши, грудь, руки и ноги. При каждом помазании каждой части тела священник повторяет тайносовершительные слова: «Печа́ть да́ра Ду́ха Свята́го. Ами́нь».
								p Изначально апостолы на новокрещённых возлагали руки, но уже в апостольское время эта форма была заменена помазанием. Согласно VI правилу Карфагенского собора, право освящать миро принадлежит только епископу, в настоящее время его освящает предстоятель той или иной Поместной церкви.
								p Миропомазание совершается обычно сразу после таинства крещения, однако может совершаться и отдельно, например, как дополнение крещения, совершённого мирянином. Без миропомазания человек не допускается до причащения, даже если он уже крещён.
								p Согласно 105-й главе Большого Требника, через миропомазание принимаются лица, крещённые во младенчестве в православии, но затем воспитанные с самого раннего детства вне православной веры.
								p С 1718 года Русская церковь не возвращалась к перекрещиванию католиков, армян, лютеран, англикан и кальвинистов. Впоследствии Русская церковь постановила католиков и армян, которые были миропомазаны в своих церквях, принимать через покаяние (без миропомазания в Русской церкви); лютеран, англикан, кальвинистов и других протестантов, у которых крещение совершается чрез троекратное погружение (или обливание), принимать через миропомазание, совершаемое в Русской церкви, и отречение от ереси. Миропомазание совершается над ними по той причине, что, во-первых, такого таинства у них нет, а во-вторых, нет священства по апостольскому преемству. Согласно решению Священного синода Русской православной церкви от 9 марта 2017 года старообрядцев в Православную церковь принимают через миропомазание (без крещения).
								p Над представителями Древних восточных церквей, согласно 95-му правилу Трулльского собора, миропомазание не совершается (люди, приходящие в православие, должны приниматься лишь через письменное отречение от своих ересей). В древности через миропомазание в Православную церковь, согласно 7-му правилу Второго Вселенского собора, принимались ариане, македониане, савватиане, новациане, четыренадесятники, аполинириане. Принимались в православие через миропомазание и представители монофизитства, в греческих древних евхологиях и в славянских кормчих сохранился чин принятия армян и яковитов (у русских называвшийся чин принятия хвалисин).
								.hr 
									+picture('/img/frame/hr.png', 'image') 

