.section-greed._container 
	.section-greed__body 
		.mask-render
		.bg-grad 
		.section-greed__content 
			.section-greed__column
				aside.aside-menu(data-da="bp-1" data-da-position="1" data-da-resolution="690")
					ul.aside-menu__list 
						li.aside-menu__item 
							span.aside-menu__link.link-hover Церковь
						ul.aside-menu__sub-menu 
							li.aside-menu__item 
								a(href=linkTo('church/church-history', filename)).aside-menu__link
									span Церковь в истории 
							li.aside-menu__item 
								a(href=linkTo('church/prihodsk-zhizn', filename)).aside-menu__link
									span Епархиальная и приходская жизнь  
							li.aside-menu__item._toggle-menu 
								.aside-menu__link._trigger  
									span Школа Духовной Жизни
									+iconfont('angle-down', 'icon')
								.aside-menu__collapse 
									ul.aside-menu__sub-menu
										li.aside-menu__item 
											a(href=linkTo('church/shkola/o-boge', filename)).aside-menu__link 
												span О Боге
										li.aside-menu__item 
											a(href=linkTo('church/shkola/molitva', filename)).aside-menu__link 
												span Молитва
										li.aside-menu__item 
											a(href=linkTo('church/shkola/izuchenie-evangeliya', filename)).aside-menu__link 
												span Изучение Евангелия
										li.aside-menu__item 
											a(href=linkTo('church/shkola/izuchenie-svyatyih-ottsov', filename)).aside-menu__link 
												span Изучение творений святых отцов
										li.aside-menu__item 
											a(href=linkTo('church/shkola/pokayanie', filename)).aside-menu__link 
												span Покаяние
										li.aside-menu__item 
											a(href=linkTo('church/shkola/prichashhenie-svyatyih-hristovyih-tayn', filename)).aside-menu__link 
												span Причащение Святых Христовых Тайн
										li.aside-menu__item 
											a(href=linkTo('church/shkola/lyubov-k-blizhnim', filename)).aside-menu__link 
												span Любовь к ближним 
										li.aside-menu__item 
											a(href=linkTo('church/shkola/strah-pered-bogom', filename)).aside-menu__link 
												span Страх перед Богом и любовь к Богу
										li.aside-menu__item 
											a(href=linkTo('church/shkola/postoyannoe-bodrstvovanie', filename)).aside-menu__link 
												span Постоянное бодрствование над собою
										li.aside-menu__item 
											a(href=linkTo('church/shkola/predosterezhenie-svyatitelya-ignatiya', filename)).aside-menu__link 
												span Предостережение святителя Игнатия от опасностей на пути спасения
							li.aside-menu__item._toggle-menu
								.aside-menu__link._trigger  
									span О таинствах церкви
									+iconfont('angle-down', 'icon')
								.aside-menu__collapse 
									ul.aside-menu__sub-menu
										li.aside-menu__item 
											a(href=linkTo('church/tainstva/kreshenie', filename)).aside-menu__link 
												span Крещение
										li.aside-menu__item 
											a(href=linkTo('church/tainstva/pokayanie', filename)).aside-menu__link 
												span Покаяние
										li.aside-menu__item 
											a(href=linkTo('church/tainstva/evharistiya', filename)).aside-menu__link 
												span Евхаристия
										li.aside-menu__item 
											a(href=linkTo('church/tainstva/soborovanie', filename)).aside-menu__link 
												span Соборование (елеосвящение)
										li.aside-menu__item 
											a(href=linkTo('church/tainstva/miropomazanie', filename)).aside-menu__link 
												span Миропомазание
										li.aside-menu__item 
											a(href=linkTo('church/tainstva/venchanie', filename)).aside-menu__link 
												span Венчание
										li.aside-menu__item 
											a(href=linkTo('church/tainstva/svyashenstvo', filename)).aside-menu__link 
												span Священство 
										li.aside-menu__item 
											a(href=linkTo('church/tainstva/pominanie', filename)).aside-menu__link 
												span Поминовение усопших
							li.aside-menu__item 
								a(href=linkTo('church/social', filename)).aside-menu__link
									span Социальное служение 
							li.aside-menu__item 
								a(href=linkTo('church/catechism', filename)).aside-menu__link
									span Образование и катехизис 
							li.aside-menu__item 
								a(href=linkTo('church/monashestvo', filename)).aside-menu__link
									span Монашество 
			.section-greed__column 
				.section-greed__bread-crumbs
					nav.bread-crumbs
						ul.bread-crumbs__list
							li
								a(href=getWebRoot(filename) + "index.html" aria-label="home").bread-crumbs__link.link_underline Главная 
							li.bread-crumbs__item  
								+iconfont('angle-right', '_icon')
							li
								span.bread-crumbs__item Церковь
				.section-greed__title 
					hgroup.title.tl-02 
						h1 
							span Что такое Церковь?
					.hr 
						+picture('/img/frame/hr.png', 'image') 
				.section-greed__row
					.info-content 
						.info-content__column 
							.info-content__row
								h3 Что такое Церковь? Размышления Митрополита Марка
								.info-content__image.current.left
									+picture('img/photo/church.jpg', 'image')
								p <strong>Церковь</strong> – это собрание верующих. Обратимся к&nbsp;истории понятия. Современное слово в&nbsp;русском языке, в&nbsp;его современном фонетическом произношении — «церковь», по&nbsp;мнению ученых-языковедов, восходит к&nbsp;греческому прилагательному «Κυριακόν» – «Господне, Господу принадлежащее» (от&nbsp;него же&nbsp;произошло название церкви во&nbsp;многих языках мира, в&nbsp;частности, германских: нем. «Kirche»; англ. «church»; слав. «цръквь», «цркы»; рус. «церковь»).
								p При&nbsp;этом в&nbsp;греческой традиции, о&nbsp;чем свидетельствуют тексты Нового Завета, и&nbsp;святоотеческой литературы, понятие «церковь» обозначалось другим греческим словом: «Ἐκκλησία», то есть «собрание». И&nbsp;непосредственно к&nbsp;этому понятию восходит слово церковь на&nbsp;латыни (и у&nbsp;большинства народов романской языковой группы: фр.&nbsp;«église»; испан. «iglesia»). Итак, церковь – это&nbsp;собрание людей, принадлежащих Господу.
								p На самом деле у каждого из этих слов есть свое определение. <strong>Храм</strong> происходит от старорусских слов: <strong>«хоромы»</strong>, <strong>«храмина»</strong> и означает здание или архитектурное сооружение, в котором совершаются богослужения.
								p У слова <strong>«церковь»</strong> значений намного больше. Да, «церковью», конечно, может называться и храм Господень, то есть место, куда люди собираются для молитвы. Но первое значение – совсем другое.
								p <strong>Церковь – это собрание верующих</strong>. Обратимся к истории понятия. Современное слово в русском языке, в его современном фонетическом произношении — <strong>«церковь»</strong>, по мнению ученых-языковедов, восходит к греческому прилагательному <strong>«Κυριακόν» – «Господне, Господу принадлежащее»</strong> (от него же произошло название церкви во многих языках мира, в частности, германских: нем. «Kirche»; англ. «church»; слав. «цръквь», «цркы»; рус. «церковь»).
								p При этом в греческой традиции, о чем свидетельствуют тексты Нового Завета, и святоотеческой литературы, понятие «церковь» обозначалось другим греческим словом: <strong>«Ἐκκλησία»</strong>, то есть <strong>«собрание»</strong>. И непосредственно к этому понятию восходит слово церковь на латыни (и у большинства народов романской языковой группы: фр. «église»; испан. «iglesia»). Итак, <strong>церковь – это собрание людей, принадлежащих Господу</strong>.
								p В 25-м Псалме говорится: «Возненавидех церковь лукавнующих, и с нечестивыми не сяду». То есть имеется в виду не здание храма, а собрание нечестивых. 
								p Интересно, что первоначально слово «Ἐκκλησία», которое мы сегодня переводим как «церковь», не имело религиозного значения, но обозначало группу людей, которых призывали время от времени на те или иные важные народные собрания. «Ἐκκλησία» произошло из двух слов «ἐκ» – «из» и καλέω – «призывать». Таким образом, буквально — это «призвать откуда-то», «вызвать из».
								p То есть <strong>Церковь – это собрание людей</strong>, не только принадлежащих Господу, но и призванных <strong>Богом</strong>. Каждого из нас Христос призывает к Себе, как в Своей земной жизни Он, выйдя на проповедь, призвал к Себе учеников, говоря: «идите за Мною, и Я сделаю вас ловцами человеков» (Матф. 4:19).
								p Наша славянская традиция, восприняв за основу греческое <strong>«Κυριακόν»</strong>, определяющим значением понятия «церковь» избрала — принадлежность Господу. То есть в языковом сознании славянских и германских народов в слове <strong>«церковь»</strong> главенствующий смысл заключается в том, что и сама церковь, и все люди в ней — <strong>Господни</strong>, они принадлежат Господу. В слове же <strong>«Ἐκκλησία»</strong> определяющим становится понятие призвания, призвания человека <strong>Богом</strong>. Призвания в самом глубоком, самом возвышенном понимании этого слова. Призвания – как покаяния.
								p Здесь снова необходимо оговориться. Большинство людей понимают слово покаяние – как раскаяние во грехах. На самом же деле раскаяние – это всего лишь часть покаянного процесса. Главный, прямой смысл слова покаяние – это изменение ума, «перемена мысли», «переосмысление» (др.-греч. <strong>Μετάνοια</strong>), осознание своей греховности и отказ от прежней нечистой жизни.
								p Пример такого призвания Господом и ответного покаяния человека мы встречаем в Евангелии. После чудесного лова рыбы на озере Геннисаретском, у Симона Петра вдруг открываются глаза, внутреннее зрение — он видит Христа, осознает, Кто перед ним, и, припадая к коленям Иисуса, говорит: «выйди от меня, Господи! потому что я человек грешный». (Лк. 5:8)
								p Или призвание Апостола Павла. Этот человек, звали его Савл, соблюдал все заповеди своего народа, жил в посте, воздержании и молитве, и был совершенно искренно уверен в своей правоте, в истинности своего служения. И вдруг на пути из Иерусалима в Дамаск «внезапно осиял его свет с неба. Он упал на землю и услышал голос, говорящий ему: Савл, Савл! что ты гонишь Меня? Он сказал: кто Ты, Господи? Господь же сказал: Я Иисус, Которого ты гонишь». (Деян. 9: 3-5). И Павел ослеп, и три дня не ел и не пил. И из ревнителя иудейского Закона, из жестокого гонителя христиан превратился в одного из самых горячих последователей Христа.
								p Итак, церковь – это не дерево или камни, это люди, это община, которая собирается в храме и которую освящает своим присутствием Сам Господь. И церковь эта может быть посреди леса или пустыни: «где двое или трое собраны во имя Мое, там Я посреди них» (Мф. 18:19).
								p Словом «Церковь» может также обозначаться «собрание людей, принадлежащих Господу», в пределах епархии или какого-то места. Отсюда название «Поме́стная Церковь». Всего в современном Диптихе, принятом в Русской Церкви, упоминаются 15 автокефальных поместных церквей
								p Еще более масштабное понятие – <strong>Вселенская Церковь</strong>. То есть собрание православных христиан, живущих по всему миру. <strong>Вселенская Церковь</strong> объединяет все Поместные Церкви.
								p И, наконец, в самом полном смысле слова <strong>Церковь Христова</strong> – это собрание всех, кто верит и любит <strong>Христа</strong>, причем собрание не только живущих, но и умерших. Это <strong>Церковь Небесная</strong>, где пребывают Пресвятая Богородица, Ангельские силы, все святые и спасшиеся христиане, которая также именуется Торжествующей, и <strong>Церковь Земная</strong>, называющаяся Воинствующей, поскольку ведет постоянную брань с отцом всякой лжи и его приспешниками. Церковь – единое Тело Христово. И все мы являемся, или по крайней мере, стараемся быть членами этой Церкви, и потому мы молимся и за живых, и за усопших, поскольку верим в бессмертие души.
								p Что касается слова <strong>«собор»</strong>, то в современном понимании – это главное церковное сооружение города или монастырского комплекса, в котором богослужение совершает епископ (архиепископ, митрополит, патриарх). Само слово происходит от старославянских <strong>«съезд», «собрание»</strong>. Главное отличие собора от храма — особый статус, усвояемый церковному сооружению по причине особого положения храма или его значения. Русскому слову «собор» в западноевропейских языках соответствуют <strong>cathedral (англ), cathédrale (фр.), cattedrale (итал.)</strong>, происходящие от слова <strong>«кафедра»</strong>. То есть храм с кафедрой епископа.
								.hr 
									+picture('/img/frame/hr.png', 'image') 