.section-greed._container
	.section-greed__body
		.mask-render
		.bg-grad
		.section-greed__content
			.section-greed__column
				aside.aside-menu(data-da="bp-1" data-da-position="1" data-da-resolution="690")
					ul.aside-menu__list 
						li.aside-menu__item 
							a(href=linkTo('blagochinie/about', filename) title="О благочинии").aside-menu__link
								span О благочинии 
						ul.aside-menu__sub-menu 
							li.aside-menu__item 
								span.aside-menu__link.link-hover Храмы благочиния 
							li.aside-menu__item 
								a(href=linkTo('blagochinie/duhovenstvo', filename) title="Духовенство").aside-menu__link
									span Духовенство   
							li.aside-menu__item 
								a(href=linkTo('blagochinie/pmc-zlatoust', filename) title="Духовенство").aside-menu__link 
									span ПМЦ "Златоуст"
						li.aside-menu__item 
							a(href=linkTo('blagochinie/patriarh', filename) title="Патриарх").aside-menu__link
								span Патриарх 
						li.aside-menu__item 
							a(href=linkTo('blagochinie/arhierey', filename) title="Правящий архиерей").aside-menu__link
								span Правящий архиерей 
			.section-greed__column
				.section-greed__bread-crumbs
					nav.bread-crumbs
						ul.bread-crumbs__list
							li
								a(href=getWebRoot(filename) + "index.html" aria-label="home" title="Главная").bread-crumbs__link.link_underline Главная 
							li
								+iconfont('angle-right', '_icon')
							li
								a(href=linkTo('blagochinie/about', filename) title="О благочинии").bread-crumbs__link.link_underline О благочинии 
							li
								+iconfont('angle-right', '_icon')
							li
								span Храмы благочиния 
				//* Храм в честь Рождества Христова
				.section-greed__row#hr-01 
					hgroup.section-greed__title.title.tl-02
						h2
							span Храм в честь Рождества&nbsp;Христова
						.hr
							img(src="/img/frame/hr.png" alt="image") 
					.info-content
						.info-content__column
							.gallery
								.gallery__top
									.gallery-item.gallery__card
										.gallery-item__image._img
											+picture( '/img/photo/igor-gornya.png', 'Игорь Горня') 
										.gallery-item__info
											.gallery-item__post Иерей
											.gallery-item__name.t-019
												strong Игорь Горня
											.gallery-item__text Настоятель Храма в честь Рождества Христова 
							.info-content__row
								.info-content__image.left
									+picture('/img/photo/hram_church.jpg', 'Храм в честь Рождества Христова') 
								p Храм приходской, имеет четыре престола: центральный престол в честь Рождества Христова.
								p Северный придел – в честь святителя Николая, архиепископа Мир Ликийских чудотворца.
								p Южный придел в честь иконы Божией Матери «Державная».
								p Престол нижнего придела – в честь св. Иоанна Предтечи, Крестителя Господня.
								p Все престолы, кроме нижнего в крестильном храме в честь св. Иоанна Предтечи, освящены архиерейским чином митрополитом Калужским и Боровским Климентом в сослужении архиепископа Людиновского Георгия 15 марта 2009 года.
								h4 Исторические сведения:
								p Приход вновь созданный. В 2012 году отметил 10 лет.
								p В 1991 г. обнинские прихожане выдвинули инициативу строительства в центре города соборной церкви. Проект был осуществлен городским архитектором М.М.Белоусовым.
								p 1998 г.Весной был установлен памятный креста в сквере на месте будущего строительства храма. В мае начались строительные работы. В декабре был завершен нулевой цикл.
								p 29.06. – освящение строительства Святейшим Патриархом Московским и всея Руси Алексием II во время официального визита на Калужскую землю по случаю празднования 200-летия учреждения Калужской епархии.
								p Митрополит Калужский и Боровский Климент в сослужении с архиепископом Людиновским Георгием и собором духовенства совершил освящение трех престолов храма: центрального престола в честь Рождества Христова, престола северного придела в честь свт. Николая Мир-Ликийского и престола южного придела в честь иконы Божией Матери «Державная».
								h4 Современная жизнь прихода:
								p В храме регулярно отправляются богослужения суточного круга.
								p При храме действует Духовно-просветительский Центр.
								p Клирики храма принимают активное участие в межприходских и городских мероприятиях. Налажена и хорошо ведется социальная работа Проводится активная миссионерская и просветительская работа с горожанами.
								h4 Расписание богослужений храма Рождества Христова: 
								ul.info-content__list
									li.info-content__list-item Начало Божественной Литургии в 9:00; 
									li.info-content__list-item в воскресные и праздничные дни две Литургии: в 7:00 и 9:30. 
									li.info-content__list-item В 17:00 Вечернее богослужение. 
									li.info-content__list-item Начало исповеди в 16:45.
								p Божественная Литургия служится каждый день.
								h4 Адрес: 
								p г. Обнинск, ул. Энгельса д. 12
								h4 Телефон: 
								p 8 (915) 891-54-83
								h4 Сайт: 
								a.info-content__link.link_underline(href="http://hramrh.ru/" target='_blank')
									+iconfont('unlink', 'icon')
									span http://hramrh.ru/
				//* Храм в честь свв. блгв. кнн. Бориса и Глеба
				.section-greed__row#hr-02
					hgroup.section-greed__title.title.tl-02
						h2
							span Храм в&nbsp;честь свв. блгв. кнн.&nbsp;Бориса&nbsp;и&nbsp;Глеба
						.hr
							img(src="/img/frame/hr.png" alt="image")  
					.info-content
						.info-content__column
							.gallery
								.gallery__top
									.gallery-item.gallery__card
										.gallery-item__image._img
											img(src="/img/photo/alexey-polyakov.png" alt="Алексий Поляков")
										.gallery-item__info
											.gallery-item__post Протоиерей 
											.gallery-item__name.t-019
												strong Алексий Поляков
											.gallery-item__text Настоятель Храма в честь свв. блгв. кнн. Бориса и Глеба 
							.info-content__row
								.info-content__image.left
									+picture('/img/photo/hram_boris_gleb.jpg', 'Храм в честь Рождества Христова')  
								p Престол освящен в честь св. Бориса и Глеба священническим чином прот. Вячеславом Полосиным в 1988 году.  Второй антиминс получен в 1999 году, в 2000 году по благословению Его высокопреосвященства митр. Климента передан прот. Александру Эггерсу для совершения богослужений в с. Кудиново.
								h4 Исторические сведения:
								p История храма  <b>св. Бориса и Глеба </b> связана с историей самого села Белкино Первое письменное упоминание о с. Белкино относится к 1589 году.
								p В это время построены каменная церковь, трехэтажный барский дом с флигелями.
								h4 Современная жизнь прихода:
								p Богослужения совершаются еженедельно по субботам воскресным дням и праздникам. При храме действует воскресная школа, библиотека, хорошо развита паломническая служба и молодежное движение. Много внимание уделено социальному направлению.
								h4 Расписание богослужений храма Святых Бориса и Глеба:
								p Богослужения в храме совершаются еженедельно: 
								ul.info-content__list
									li.info-content__list-item Среда - 18.оо вечерня
									li.info-content__list-item Пятница - 18.оо вечерня
									li.info-content__list-item Суббота - 8.зо панихида, Литургия, 18.оо всенощное бдение
									li.info-content__list-item Воскресенье 8.зо молебен, Литургия. 
								p Кроме того богослужения совершаются в великие праздники, дни памяти почитаемых  святых. Накануне – всенощное бдение, в день праздника –Литургия.
								h4 Адрес: 
								p г. Обнинск, ул. Энгельса д. 12
								h4 Телефон: 
								p 8 (910) 707-85-72
								h4 Сайт: 
								a.info-content__link.link_underline(href="http://belkino.su" target='_blank')
									+iconfont('unlink', 'icon')
									span http://belkino.su
				//* Храм в честь Веры Надежды Любови и матери их Софии
				.section-greed__row#hr-03
					.section-greed__title.tl-02
						hgroup.title.tl-02
							h2
								span Храм Веры Надежды Любови и&nbsp;матери их&nbsp;Софии
						.hr
							+picture('/img/frame/hr.png', 'image') 
					.info-content
						.info-content__column
							.gallery
								.gallery__top
									.gallery-item.gallery__card
										.gallery-item__image._img
											img(src="/img/photo/sergiy-vishnyakov.png" alt="протоиерей Сергий Вишняков")
										.gallery-item__info
											.gallery-item__post Протоиерей 
											.gallery-item__name.t-019
												strong протоиерей Сергий Вишняков
											.gallery-item__text Настоятель Храма Веры Надежды Любови и матери их Софии 
							.info-content__row
								.info-content__image.left
									+picture('/img/photo/hram_vera_nad.jpg', 'Храм Веры Надежды Любови и матери их Софии')  
								p При ДПЦ «Вера, Надежда, Любовь» действуют два храма: в честь святых мучениц <b>Веры Надежды Любови и матери их Софии</b> и в честь <b>иконы Божьей Матери</b> именуемой  <b>Достойно есть</b>.
								p Престолы освящены иерейским чином.
								h4 Исторические сведения:
								p Обнинский духовно-просветительский Центр (Миссия) <b>«Вера, Надежда, Любовь»</b> - местная православная религиозная организация-учреждение Калужской епархии Русской Православной Церкви (Московский патриархат) образован в 1997 году.
								p Но сам Центр располагается в бывшем солдатском клубе и возведен новый, типовой храм, что является следствием роста прихода, а значит, подтверждает правильность выбора направления деятельности Центра.
								p Действуют два храма. Богослужения совершаются ежедневно.
								h4 Современная жизнь прихода:
								p Духовно Просветительский Центр все свои силы направляет на духовно-нравственное возрождение нашего народа на основе православных традиций. С этой целью  разработаны различные методические подходы по всем направлениям, которые могли бы реализовать эти цели.  Проводятся конференции, чтения,  лекции, беседы, посвященные современным проблемам общества, действует две воскресные школы, изостудия, студия резьбы по дереву, проводятся фестивали «Рождественская звезда», «Фестиваль православного Искусства», кинофестиваль «Встреча» и др.  Совершаются паломнические поездки, через участие в которых прихожане приобщаются к историческим корням своих предков. Идет работа и со средствами массовой информации. Центр окормляет и сотрудничает с различными светскими учебными учреждениями.
								h4 Расписание богослужений храма Веры Надежды Любови и матери их Софии:
								p Богослужения совершаются <b>ежедневно</b> : 
								ul.info-content__list
									li.info-content__list-item Начало вечернего богослужения в 17-00;
										ul.info-content__sub-list 
											li.info-content__sub-item утреннего в 7-30;
									li.info-content__list-item По субботам в 11.00 молебен для благополучного течения беременности служит иерей Евгений Кандыбин.
									li.info-content__list-item  В воскресенье и праздничные дни совершается две Божественные Литургии в 6-30 и 9-30;
										ul.info-content__sub-list 
											li.info-content__sub-item в 18-00 молебное пение с акафистом блаженной Матроне Московской;
									li.info-content__list-item Среда в 18-00 совершается молебное пение с акафистом Божьей Матери;
								p Дежурство в храме круглосуточно (все дежурные окончили общегородскую богословскую школы и продолжают обучаться в взрослой воскресной школы при Центре), дежурный священник по будням ежедневно с 9-00 до 17-00. В обязанности, возлагаемые на дежурного священника, входит совершение треб и просветительские беседы с прихожанами.
								p Еженедельно,  
								h4 Адрес: 
								p г. Обнинск, ул. Любого, 5-А
								h4 Телефон: 
								p  (48439) 6-48-99
								h4 Сайт: 
								a.info-content__link.link_underline(href="https://vera-obninsk.ru/" target='_blank')
									+iconfont('unlink', 'icon')
									span https://vera-obninsk.ru/
				//* Храм в честь Храм Святителя Тихона
				.section-greed__row#hr-04
					hgroup.section-greed__title.title.tl-02
						h2
							span Храм в&nbsp;честь Святителя Тихона
						.hr
							img(src="/img/frame/hr.png" alt="image")  
					.info-content
						.info-content__column
							.gallery
								.gallery__top
									.gallery-item.gallery__card
										.gallery-item__image._img
											img(src="/img/photo/pavel-sinicin.png" alt="Павел Синицын")
										.gallery-item__info
											.gallery-item__post Протоиерей 
											.gallery-item__name.t-019
												strong Павел Синицын
											.gallery-item__text Настоятель Храма в честь Святителя Тихона
							.info-content__row
								.info-content__image.left
									+picture('/img/photo/hram_sv_tihona.jpg', 'Храм Святителя Тихона')  
								p Приход состоит из храма в честь <b>Святителя Тихона</b>, Патриарха Московского и Всероссийского, освящённого в 1992 году священническим чином и придела в честь Благовещения Пресвятой Богородицы, освящённого архиерейским чином 1 декабря 1996 года Архиепископом Калужским и Боровским Климентом.
								h4 Исторические сведения:
								p История храма Святителя Тихона, Патриарха Московского и Всероссийского началась с того момента, когда по благословению Митрополита Калужского и Боровского Климента, была зарегистрирована новая православная община, получившая название в честь иконы Пресвятой Богородицы Державная. 15 сентября 1991 года  был заложен закладной камень в основание будущего храма, который по благословению владыки Климента был освящён в честь Святителя Тихона, патриарха Московского и Всероссийского. С весны 1992 года в храме начались регулярные богослужения. В 1994 году был заложен новый предел в честь Благовещения Пресвятой Богородицы, который был освящен Архиепископом Калужским и Боровским Климентом 1 декабря 1996 года.
								h4 Современная жизнь прихода:
								p За годы существования приход рос, развивался и благоустраивался. Появились новые строения (дом притча; пристройки: ризница, бухгалтерия, церковная лавка; колокольня; первая в городе крестильня, где появилась возможность совершать Таинство Крещения взрослых с полным погружением). Храм является одним из духовных центров города Обнинска, постоянными прихожанами являются как минимум около 150 человек. Также его посещают многочисленные жители города и окрестностей. На приходе идет активная приходская жизнь. Прихожане старались учавствовать во всех проводимых в городе и епархии межприходских мероприятиях.
								h4 Расписание богослужений храма Святителя Тихона:
								ul.info-content__list
									li.info-content__list-item Богослужения совершаются суббота, воскресенье, в великие праздники, дни памяти почитаемых святых. 
									li.info-content__list-item Накануне – всенощное бдение, в день праздника –Литургия.
									li.info-content__list-item Утренние богослужения в  храме  в основном начинаются в 8.50, реже в 7.00 и 8.00, вечерние в 17.00, летом в 18.00.
								p В храме круглосуточно дежурит сторож, который при необходимости связывается по мобильному телефону или по рации с настоятелем храма для решения неотложных вопросов.
								h4 Адрес: 
								p 249020 г. Обнинск, Кончаловские горы, кладбище
								h4 Телефон: 
								p (484) 394-75-15, 8 (903) 109-35-66
								h4 Сайт: 
								a.info-content__link.link_underline(href="http://shram-st.ru/" target='_blank')
									+iconfont('unlink', 'icon')
									span http://shram-st.ru/
								h4 Почта:
								p hram_st@obninsk.ru
				//* Храм в честь святителя Луки
				.section-greed__row#hr-05
					hgroup.section-greed__title.title.tl-02
						h2
							span Храм в&nbsp;честь святителя Луки
						.hr
							img(src="/img/frame/hr.png" alt="image")  
					.info-content
						.info-content__column
							.gallery
								.gallery__top
									.gallery-item.gallery__card
										.gallery-item__image._img
											img(src="/img/photo/igor-martinov.png" alt="Игорь Мартынов")
										.gallery-item__info
											.gallery-item__post Иерей 
											.gallery-item__name.t-019
												strong Игорь Мартынов
											.gallery-item__text Настоятель Храма в честь святителя Луки
							.info-content__row
								.info-content__image.left
									+picture('/img/photo/hram_sv_luki.jpg', 'Храм святителя Луки')  
								p Храм в честь святителя Луки. Престол освящен архиерейским чином митрополитом Калужским и Боровским Климентом. Назначение храма – больничный.
								h4 Исторические сведения:
								p Закладной камень храма освящен  архиерейским чином  митрополитом  Калужским и Боровским Климентом  8 января 2007 года.
								p Храм  имеет один престол в честь святителя Луки, архиепископа Симферопольского и Крымского, который освящен 30 мая 2010 года митрополитом Калужским и Боровским Климентом.  
								h4 Современная жизнь прихода: 
								p Основой социального служения является духовное окормление больных.
								h4 Расписание богослужений храма Святителя Луки:
								p В храме богослужения совершаются каждые четверг, пятницу, субботу и воскресенье, а так же в особо значимые праздники, выпавшие на будний день:
								ul.info-content__list
									li.info-content__list-item начало Божественной Литургии: – 9.00;
										ul.info-content__sub-list
											li.info-content__sub-item вечернее богослужение – в 17.00; 
											li.info-content__sub-item начало исповеди в 16.45;
									li.info-content__list-item Четверг: Вечерня с акафистом святителю Луке архиепископу Симферопольскому и Крымскому.
									li.info-content__list-item Пятница: Вечернее богослужение.
									li.info-content__list-item Суббота:   Божественная Литургия. Панихида. Всенощное бдение.
									li.info-content__list-item Воскресенье:  Божественная Литургия. Молебен с водосвятием.
								p В здании первой клиники Медицинского радиологического научного центра регулярно совершаются молебны о недужных для сотрудников и пациентов (МРНЦ).
								p Также в течение недели совершаются  Таинства Покаяния, Причащения, Соборования.
								h4 Адрес:
								p располагается на территории Медицинского радиологического научного центра РАМН в г. Обнинске
								h4 Телефон: 
								p (8484) 399-33-57
								h4 Сайт:
								a.info-content__link.link_underline(href="http://hramsvtluki.ru" target='_blank')
									+iconfont('unlink', 'icon')
									span http://hramsvtluki.ru
				//* Храм в честь равн. кн. Владимира и кн. Ольги
				.section-greed__row#hr-06
					hgroup.section-greed__title.title.tl-02
						h2
							span Молитвенный дом в&nbsp;честь св. равн. вел. кн. Владимира и&nbsp;вел.&nbsp;кн. Ольги
						.hr
							img(src="/img/frame/hr.png" alt="image")  
					.info-content
						.info-content__column
							.gallery
								.gallery__top
									.gallery-item.gallery__card
										.gallery-item__image._img
											img(src="/img/photo/dmitriy-moiseev.png" alt="Дмитрий Моисеев")
										.gallery-item__info
											.gallery-item__post Протоиерей 
											.gallery-item__name.t-019
												strong Дмитрий Моисеев
											.gallery-item__text Настоятель Храма в честь равноапостольных князя Владимира и княгини Ольги
							.info-content__row
								.info-content__image.left
									+picture('/img/photo/hram_vladimira_olgi.jpg', 'Молитвенный дом в честь св. равн. вел. кн.Владимира и вел. кн. Ольги')  
								p Молитвенный дом в честь <b>св. равноап. вел. кн. Владимира и вел. кн. Ольги</b> с приставным   престолом. Престолы не освящены.
								h4 Исторические сведения:
								p В 1994 году настоятель Спасо-Преображенского храма из Спас-Загорья игумен Ростислав Колупаев обратился к городской администрации с просьбой передать Православной церкви небольшое здание игровых автоматов, стоящее в городском Парке культуры, для организации в нём храма. Передача состоялась 12 июня 1994 года. В тот же день священнослужители вместе с прихожанами расчистили помещение, привезли из храма Спас-Загорья распятие и иконы. Обустройство храма было завершено за несколько дней. Храм был освящён во имя равноапостольных князя Владимира и княгини Ольги, поскольку Обнинск получил статус города 24 июля — в день памяти равноапостольной княгини.
								p Этот храм стал первым на территории самого города. Он расположен недалеко от того места, где прежде находился Репинский погост с деревянной церковью св. Николая Чудотворца. Храм окормлялся священнослужителями из Спас-Загорья.  Горожане жертвовали храму иконы, книги, посуду, церковную утварь. Первое богослужение состоялось 18 июня, на Троицу. Службы сопровождались пением церковного хора, в основном состоящего из молодёжи. В настоящее время храм является  архиерейским подворьем. В храме служат два священника.
								h4 Современная жизнь прихода: 
								p Богослужения совершаются еженедельно по субботам воскресным дням и праздникам. При храме действует воскресная школа. Идет подготовка проекта на строительство нового храма.
								h4 Расписание богослужений храма Святых Владимира и Ольги: 
								ul.info-content__list
									li.info-content__list-item пятница в 17:00 – вечернее богослужение;
									li.info-content__list-item суббота в  09:00 – Божественная литургия, Панихида 
										ul.info-content__sub-list
											li.info-content__sub-item 17:00 – всенощное бдение; 
									li.info-content__list-item воскресенье в 07:00 – ранняя Божественная литургия;
									li.info-content__list-item Четверг: Вечерня с акафистом святителю Луке архиепископу Симферопольскому и Крымскому,  
										ul.info-content__sub-list
											li.info-content__sub-item в 09:00 – поздняя Божественная литургия, Молебен. 
								p Также богослужения совершаются в дни двунадесятых, великих, бденных, полиелейных,  а также особо чтимых праздников, причем в дни двунадесятых и великих праздников  совершаются две Божественных литургии. 
								h4 Адрес:
								p г. Обнинск, пр. Ленина, 21-А
								h4 Телефон: 
								p (48439) 6-46-52
								h4 Сайт:
								a.info-content__link.link_underline(href="#" target='_blank') 
									+iconfont('unlink', 'icon')
									span http://domen.ru
				//* Храм в честь Преображения Господня
				.section-greed__row#hr-07
					hgroup.section-greed__title.title.tl-02
						h2
							span Храм в честь Преображения&nbsp;Господня
						.hr
							img(src="/img/frame/hr.png" alt="image")  
					.info-content
						.info-content__column
							.gallery
								.gallery__top
									.gallery-item.gallery__card
										.gallery-item__image._img
											img(src="/img/photo/serg-dimyanov.png" alt="Сергий Демьянов")
										.gallery-item__info
											.gallery-item__post Протоиерей 
											.gallery-item__name.t-019
												strong Сергий Демьянов
											.gallery-item__text Настоятель Храма в честь Преображения Господня
							.info-content__row
								.info-content__image.left
									+picture('/img/photo/hram_preobr.jpg', 'Храм в честь Преображения Господня')  
								p Главный престол освящен в честь праздника Преображения Господня, вероятно, в начале XVII века. Храм имеет три придела. Нижний и зимний – в честь Казанской иконы Божией Матери, освящен в 1696 году. Южный, Крестовоздвиженский придел, и северный, Покровский придел, освящены во второй половине XVIII века. В настоящее время в Казанском приделе невозможно совершать богослужения из-за повышенной влажности. После закрытия храма с 1937 по 1947 год главный престол и престолы в Крестовоздвиженском и Покровском приделах были освящены иерейским чином. 
								h4 Исторические сведения:
								p Истоия храма ведется с 1614 года. К 90-м годам XVII века, храм принял современный облик. Он строился двухэтажным, с нижним теплым приделом в честь Казанской иконы Божией Матери. По освящению нижнего придела датируется и завершение постройки - 1696 год. Дошедший до нашего времени храм в архитектурном отношении представляет собой, по мнению специалистов, яркий образец национального стиля русского зодчества второй половины 17-го века. Характерными чертами традиционно русского стиля являются бесстолпная конструкция храма, пятиглавие, завершение свода закомарами, обрамление куполов кокошниками. Здание храма двухэтажное, верхний этаж – летняя Преображенская церковь с двумя пределами (Крестовоздвиженским и Покровским) – имеет два яруса окон, обрамлённых наличниками, состоящими из двух колонок, которые связаны сверху фигурной скобкой. Зимняя часть, храм Иконы Казанской Божьей Матери, возможно, наиболее древняя часть строения. Оригинально решена в конструкции храма шатровая колокольня:  грани её восьмерика ориентированы по сторонам света. В 1937 г. храм был закрыт, и нижний предел использовался как склад и столовая. Только в 1947 году Совет по делам Русской Православной Церкви зарегистрировал общину и передал её здание храма, что и было отмечено в протоколе и договоре от 24.09.1947 г. 
								h4 Современная жизнь прихода: 
								p Первый послевоенный настоятель, архим. Никандр, оставил глубокий след в духовном облике Спас–Загорского Преображенского храма. После смерти архимандрита, прожившего без малого столетие (даты жизни 1876-1972), на приходе сменилось множество священников, имена которых ещё помнят старейшие прихожане Храма. Среди них: о. Николай, о. Михаил, о. Вениамин, о. Александр, о. Сергий, о. Иоанн, о. Валентин, архим. Донат, архим. Серафим, прот. Борис, прот. Николай Суходолов, прот. Андрей Куликов, иерей Алексий Поляков, игумен Ростислав (Колупаев) и нынешний настоятель храма с 1997 года – прот. Сергий Демьянов.
								p В 2002 году в г. Тутаеве Ярославской области был отлит подбор колоколов. 29 декабря при служении правящего архиерея, владыки Климента (Капалина), прошло торжественное освящение колоколов и к Пасхе 2003 года была полностью оборудована колокольня.
								p Заканчиваются работы по реставрации главного иконостаса храма силами темперного отдела Государственного научно-исследовательского института реставрации (ГосНИИР) и кафедры реставрации Православного Свято-Тихоновского Гуманитарного Университета (ПСТГУ).
								p С 1995 года регулярно проводятся духовные беседы со взрослыми. Также действуют воскресная школа «Жаворонок» с. Спас-Загорье, детское творческое объединение «Радуга» г. Обнинск.
								h4 Расписание богослужений храма Преображения Господня: 
								p Богослужения в храме совершаются по воскресным и праздничным дням согласно расписания богослужений на текущий месяц.
								ul.info-content__list
									li.info-content__list-item по будням в 18-00;
									li.info-content__list-item по выходным дням – в 17-00; 
									li.info-content__list-item Начало Божественной Литургии – в 9-00 
								p В дни, когда не проводятся богослужения в храме организовано дежурство.
								h4 Адрес:
								p г. Обнинск,  
								h4 Телефон: 
								p  
								h4 Сайт:
								a.info-content__link.link_underline(href="http://www.hrampg.ru" target='_blank') 
									+iconfont('unlink', 'icon')
									span http://www.hrampg.ru
				//* Храм в честь св. великомученика и целителя Пантелеймона
				.section-greed__row#hr-08
					hgroup.section-greed__title.title.tl-02
						h2
							span Храм в честь святого великомученика и&nbsp;целителя&nbsp;Пантелеймона
						.hr
							img(src="/img/frame/hr.png" alt="image")  
					.info-content
						.info-content__column
							.gallery
								.gallery__top
									.gallery-item.gallery__card
										.gallery-item__image._img
											img(src="/img/photo/pavel-seredin.png" alt="Павел Середин")
										.gallery-item__info
											.gallery-item__post Протоиерей 
											.gallery-item__name.t-019
												strong Павел Середин
											.gallery-item__text Настоятель Храма в честь святого великомученика и целителя Пантелеймона
							.info-content__row
								.info-content__image.left
									+picture('/img/photo/hram_panteleimona.jpg', 'Храм в честь святого великомученика и целителя Пантелеймона')  
								p Престол храма освящен архиерейским чином митрополитом Калужским и Боровским Климентом. в 2012году 13 октября. Назначение храма – больничный. 
								h4 Исторические сведения:
								p Приход вновь созданный. Больничный храм находится на территории больничного городка  ФГУЗ ЦМСЧ № 8. г.
								p В 2007 г. приход получил разрешение на пользование земельным участком для строительства больничного храма В настоящее время завершено строительство основного здания храма и колокольни, изготовлены, подняты и установлены колокола.
								h4 Современная жизнь прихода: 
								p Храм в честь св. вмч. и целителя Пантелеимона расположен на территории медико-санитарного учреждения ЦМСЧ № 8 г. Обнинска и является больничным храмом. Основой социального служения является духовное окормление больных.
								h4 Расписание богослужений храма святого великомученика и целителя Пантелеймона: 
								p Расписание богослужений суббота вечер, воскресенье, в великие праздники, дни памяти почитаемых  святых. Накануне – всенощное бдение, в день праздника – Литургия. 
								p Расписание дежурств в храме в дни, когда богослужения не совершаются:
								ul.info-content__list
									li.info-content__list-item ежедневно с 9-00 до 18-00;
									li.info-content__list-item выходной – понедельник 
								p Расписание дежурств священника:
								ul.info-content__list 
									li.info-content__list-item вторник-воскресенье с 10-00 до 18-00;
								p кроме часов совершения богослужений, праздничных дней и времени отсутствия по вопросам, связанным с совершением треб вне храма и организацией строительных работ.
								h4 Адрес:
								p Территория медицинского городка
								h4 Телефон: 
								p +7 (484) 395-89-05
								h4 Сайт:
								a.info-content__link.link_underline(href="#" target='_blank') 
									+iconfont('unlink', 'icon')
									span http://www.domen.ru
				//* Храм в честь Спаса Нерукотворного
				.section-greed__row#hr-09
					hgroup.section-greed__title.title.tl-02
						h2
							span Храм в честь Спаса Нерукотворного (при&nbsp;казачьей общине&nbsp;«Спас»)
						.hr
							img(src="/img/frame/hr.png" alt="image")  
					.info-content
						.info-content__column
							.gallery
								.gallery__top
									.gallery-item.gallery__card
										.gallery-item__image._img
											img(src="/img/photo/pavel-kuznecov.png" alt="Павел Кузнецов")
										.gallery-item__info
											.gallery-item__post Иерей
											.gallery-item__name.t-019
												strong Павел Кузнецов
											.gallery-item__text Настоятель Храма в честь Спаса Нерукотворного (при казачьей общине «Спас»)
							.info-content__row
								.info-content__image.left
									+picture('/img/photo/hram_spas_nerukotv.jpg', 'Храм в честь Спаса Нерукотворного')  
								p Домовой храм в честь Спаса Нерукотворного при казачьей общине «Спас».
								p Престол освящен иерейским чином.
								h4 Исторические сведения:
								p Центр «Спас» располагается на территории бывшей риги усадьбы Белкино-Бутурлиных. Основные направления и формы работы: профилактика употреблений наркотических средств и алкоголя, правонарушений среди несовершеннолетних, в том числе, в сфере наркопреступности, и допризывная подготовка молодежи, а так же  социальная реабилитация людей, страдающих наркотической и алкогольной зависимостью.
								h4 Современная жизнь прихода: 
								p В общинном храме в честь Спаса Нерукотворного проводятся регулярные Богослужения иереем Павлом (Кузнецовым). Участвуют взрослые (общинники и члены их семей, друзья и соратники общины, лица, проходящие реабилитацию и социализацию в ОЦП «Спас») и дети, занимающиеся в общине. Общее количество участников – 50 чел., причастников -50 чел.
								h4 Расписание богослужений храма в честь Спаса Нерукотворного:
								p Расписание дежурств в храме в дни, когда богослужения не совершаются:
								ul.info-content__list
									li.info-content__list-item ежедневно с 9-00 до 18-00;
									li.info-content__list-item выходной – понедельник 
								p Расписание дежурств священника:
								ul.info-content__list 
									li.info-content__list-item вторник-воскресенье с 10-00 до 18-00;
								p кроме часов совершения богослужений, праздничных дней и времени отсутствия по вопросам, связанным с совершением треб вне храма и организацией строительных работ.
								h4 Адрес:
								p село Белкино, казачья община СПАС, рига
								h4 Телефон: 
								p (48439) 486-86
								h4 Сайт:
								a.info-content__link.link_underline(href="http://www.mirspas.ru/" target='_blank') 
									+iconfont('unlink', 'icon')
									span http://www.mirspas.ru/
								h4 Почта
								p info@mirspas.ru
				//* Храм в честь благоверных Петра и Февронии Муромских
				.section-greed__row#hr-10
					hgroup.section-greed__title.title.tl-02
						h2
							span Храм благоверных Петра и Февронии Муромских
						.hr
							img(src="/img/frame/hr.png" alt="image")  
					.info-content
						.info-content__column
							.gallery
								.gallery__top
									.gallery-item.gallery__card
										.gallery-item__image._img
											img(src="/img/photo/alexei-parshilhin.png" alt="Алексий Паршилкин")
										.gallery-item__info
											.gallery-item__post Иерей
											.gallery-item__name.t-019
												strong Алексий Паршилкин
											.gallery-item__text Настоятель Храма в честь благоверных Петра и Февронии Муромских
							.info-content__row
								.info-content__image.left
									+picture('/img/photo/hram_spas_nerukotv.jpg', 'Храм в честь благоверных Петра и Февронии Муромских')  
								p По благословению митрополита Калужского и Боровского Климента в 2022 году  началось строительство храма в честь благоверных Петра и Февронии Муромских в деревне Кабицино, Боровского района.
								p 18 декабря 2022 года уже состоялось малое освящение этого храма.
								p По благословению митрополита Калужского и Боровского Климента освящение совершил епископ Тарусский Леонид, викарий Калужской епархии.
								p После совершения малого освящения в храме в честь святых князя Петра и княгини Февронии была впервые отслужена Божественная литургия.
								p На территории д. Кабицыно никогда не было храма. Потребность местных жителей иметь территориально доступный храм обусловило строительство храма. Все строительные работы велись за счет частных пожертвований. После малого освящения община сможет приходить в храм для участия в богослужении и совместной молитвы.
								h4 Исторические сведения:
								p 
								h4 Современная жизнь прихода: 
								p 
								h4 Расписание богослужений храма благоверных Петра и&nbsp;Февронии&nbsp;Муромских: 
								ul.info-content__list
									li.info-content__list-item 
								h4 Адрес:
								p Калужская область, Боровский район, деревня Кабицыно, улица А.Карелина, 9
								h4 Телефон: 
								p +7 (910) 607-35-79
								h4 Сайт:
								a.info-content__link.link_underline(href="https://blagoobninsk.ru/church/xramkabicino@yandex.ru" target='_blank') 
									+iconfont('unlink', 'icon')
									span blagoobninsk.ru


