.section-greed._container
	.section-greed__body
		.mask-render
		.bg-grad
		.section-greed__content
			.section-greed__column
				aside.aside-menu(data-da="bp-1" data-da-position="1" data-da-resolution="690")
					ul.aside-menu__list 
						li.aside-menu__item 
							a(href=linkTo('blagochinie/about', filename) title="О благочинии").aside-menu__link
								span О благочинии 
						ul.aside-menu__sub-menu 
							li.aside-menu__item 
								a(href=linkTo('blagochinie/temples', filename) title="Храмы благочиния").aside-menu__link
									span Храмы благочиния 
							li.aside-menu__item 
								span.aside-menu__link.link-hover Духовенство 
							li.aside-menu__item 
								a(href=linkTo('blagochinie/pmc-zlatoust', filename) title="Духовенство").aside-menu__link 
									span ПМЦ "Златоуст"
						li.aside-menu__item  
							a(href=linkTo('blagochinie/patriarh', filename) title="Патриарх").aside-menu__link
								span  Патриарх
						li.aside-menu__item 
							a(href=linkTo('blagochinie/arhierey', filename) title="Правящий архиерей").aside-menu__link
								span Правящий архиерей
			.section-greed__column 
				.section-greed__bread-crumbs 
					nav.bread-crumbs 
						ul.bread-crumbs__list 
							li
								a(href=getWebRoot(filename) + "index.html" aria-label="home" title="Главная").bread-crumbs__link.link_underline Главная 
							li 
								+iconfont('angle-right', '_icon') 
							li 
								a(href=linkTo('blagochinie/about', filename) title="О благочинии").bread-crumbs__link.link_underline О благочинии 
							li 
								+iconfont('angle-right', '_icon') 
							li 
								span Духовенство 
				hgroup.title.tl-02.section-greed__title 
					h2 
						span Духовенство 
					.hr 
						+picture('img/frame/hr.png', 'image') 
				.gallery 
					.gallery__top 
						.gallery-item.gallery__card 
							.gallery-item__image._img 
								+picture('/img/photo/sergiy-vishnyakov.png', 'Сергий Вишняков') 
							.gallery-item__info 
								.gallery-item__post 
									p Благочинный Протоиерей 
									span 3-его благочиния г. Обнинска 
								.gallery__name.t-019 
									strong Сергий Вишняков
								.gallery-item__text Настоятель храма в честь мучениц Веры, Надежды, Любови и матери их Софии
					.gallery__second 
						each item in galleryCard 
							.gallery-item.gallery__card 
								.gallery-item__image._img 
									+picture('/img/photo/' + item.image, '' + item.name) 
								.gallery-item__info  
									.gallery-item__post= item.post
									.gallery-item__name.t-019  
										strong= item.name
									.gallery-item__text= item.rank
									//- a(href="#").gallery-item__link.link_underline 
										span Подробнее
