.section-greed._container 
	.section-greed__body 
		.mask-render
		.bg-grad 
		.section-greed__content 
			.section-greed__column
				aside.aside-menu(data-da="bp-1" data-da-position="1" data-da-resolution="690")
					ul.aside-menu__list 
						li.aside-menu__item.link-hover 
							span.aside-menu__link Церковь
						ul.aside-menu__sub-menu 
							li.aside-menu__item 
								a(href=linkTo('church/church-history', filename)).aside-menu__link
									span Крещение
							li.aside-menu__item 
								a(href=linkTo('church/prihodsk-zhizn', filename)).aside-menu__link
									span Епархиальная и приходская жизнь  
							li.aside-menu__item._toggle-menu.is-active  
								.aside-menu__link._trigger  
									span Школа Духовной Жизни
									+iconfont('angle-down', 'icon')
								.aside-menu__collapse 
									ul.aside-menu__sub-menu
										li.aside-menu__item 
											a(href=linkTo('church/shkola/o-boge', filename)).aside-menu__link
												span О Боге
										li.aside-menu__item 
											a(href=linkTo('church/shkola/molitva', filename)).aside-menu__link
												span Молитва
										li.aside-menu__item 
											a(href=linkTo('church/shkola/izuchenie-evangeliya', filename)).aside-menu__link
												span Изучение Евангелия
										li.aside-menu__item
											.aside-menu__link.link-hover   
												span Изучение творений святых отцов
										li.aside-menu__item 
											a(href=linkTo('church/shkola/pokayanie', filename)).aside-menu__link 
												span Покаяние
										li.aside-menu__item 
											a(href=linkTo('church/shkola/prichashhenie-svyatyih-hristovyih-tayn', filename)).aside-menu__link 
												span Причащение Святых Христовых Тайн
										li.aside-menu__item 
											a(href=linkTo('church/shkola/lyubov-k-blizhnim', filename)).aside-menu__link 
												span Любовь к ближним 
										li.aside-menu__item 
											a(href=linkTo('church/shkola/strah-pered-bogom', filename)).aside-menu__link 
												span Страх перед Богом и любовь к Богу
										li.aside-menu__item 
											a(href=linkTo('church/shkola/postoyannoe-bodrstvovanie', filename)).aside-menu__link 
												span Постоянное бодрствование над собою
										li.aside-menu__item 
											a(href=linkTo('church/shkola/predosterezhenie-svyatitelya-ignatiya', filename)).aside-menu__link 
												span Предостережение святителя Игнатия от опасностей на пути спасения
							li.aside-menu__item._toggle-menu
								.aside-menu__link._trigger  
									span О таинствах церкви
									+iconfont('angle-down', 'icon')
								.aside-menu__collapse 
									ul.aside-menu__sub-menu
										li.aside-menu__item
											a(href=linkTo('church/tainstva/kreshenie', filename)).aside-menu__link 
												span Крещение
										li.aside-menu__item 
											a(href=linkTo('church/tainstva/pokayanie', filename)).aside-menu__link 
												span Покаяние
										li.aside-menu__item
											a(href=linkTo('church/tainstva/evharistiya', filename)).aside-menu__link 
												span Евхаристия
										li.aside-menu__item
											a(href=linkTo('church/tainstva/soborovanie', filename)).aside-menu__link 
												span Соборование (елеосвящение)
										li.aside-menu__item
											a(href=linkTo('church/tainstva/miropomazanie', filename)).aside-menu__link 
												span Миропомазание
										li.aside-menu__item
											.aside-menu__link 
												span Венчание
										li.aside-menu__item 
											a(href=linkTo('church/tainstva/svyashenstvo', filename)).aside-menu__link 
												span Священство 
										li.aside-menu__item 
											a(href=linkTo('church/tainstva/pominanie', filename)).aside-menu__link 
												span Поминовение усопших 
							li.aside-menu__item 
								a(href=linkTo('church/social', filename)).aside-menu__link
									span Социальное служение 
							li.aside-menu__item 
								a(href=linkTo('church/catechism', filename)).aside-menu__link
									span Образование и катехизис 
							li.aside-menu__item 
								a(href=linkTo('church/monashestvo', filename)).aside-menu__link
									span Монашество 
			.section-greed__column 
				.section-greed__bread-crumbs
					nav.bread-crumbs
						ul.bread-crumbs__list
							li
								a(href=getWebRoot(filename) + "index.html" aria-label="home").bread-crumbs__link.link_underline Главная 
							li.bread-crumbs__item  
								+iconfont('angle-right', '_icon') 
							li
								a(href=linkTo('church/church', filename)).bread-crumbs__link.link_underline Церковь 
							li.bread-crumbs__item  
								+iconfont('angle-right', '_icon') 
							li
								.bread-crumbs__link Школа Духовной Жизни
							li.bread-crumbs__item  
								+iconfont('angle-right', '_icon')
							li
								span.bread-crumbs__item Изучение творений святых отцов
				.section-greed__title 
					hgroup.title.tl-02 
						h1 
							span Изучение творений святых отцов
				.section-greed__row
					.info-content 
						.info-content__column 
							.info-content__row
								.hr 
									+picture('/img/frame/hr.png', 'image') 
								p Чтение писаний отеческих — родитель и царь всех добродетелей. 
									i Свт. Игнатий
								p Как уже говорилось ранее, чтение творений святых отцов имело огромное значение в духовной жизни святителя Игнатия. Святые отцы были в полном смысле его «воспитатели». Они питали его чистую душу в детстве, указали ему единственно верный путь послушания Святой Церкви в юности, показали ему суетность всего земного и затем укрепляли его в течение всей многотрудной иноческой жизни.
								.info-content__image.current.left
									+picture('img/photo/ignaty-brjanchninov.jpg', 'image')
								p С болью в сердце святитель Игнатий замечал, что христиане, его современники, почти совсем не изучают творений святых отцов. «Сочинения святых отцов забыты! То, что они с давних времен Святою Церковью признавались единым правильным руководством в подвижнической жизни, нисколько не принимается в уважение», — писал он. Видя, что в его время было очень мало духовных наставников, способных правильно руководить духовною жизнью пасомых, и замечая, что с каждым годом истинные наставники все умаляются, владыка неустанно в своих творениях и письмах напоминал, что единственным верным руководителем в духовной жизни являются творения святых отцов. «Свет, при котором совершается духовное бдение, проливают из себя… писания святых отцов», — эту истину владыка напоминает всем христианам.
								p Писания святых отцов, по неложному убеждению святителя Игнатия, были составлены по внушению или под влиянием Святого Духа; на них лежит печать помазания и дивного единства. Все они в основе своей имеют Евангелие и научают, как правильно исполнять евангельские заповеди. «Их источник и конец — Святое Евангелие». Многие святые отцы в глубоком уединении вникали в Евангелие, осуществляли его учение в своей жизни и затем в своих сочинениях изложили, как нужно исполнять евангельские заповеди. Святитель Игнатий пишет: «Святые отцы научают, как приступать к Евангелию, как читать его, как правильно понимать его, что содействует, что препятствует к уразумению его».
								p Для улучшения восприятия и правильного понимания Евангелия владыка даже советовал первоначально изучить святоотеческие творения, научиться у святых отцов, как относиться к Евангелию, и затем только приступать к чтению Слова Божия.
								p Необходимость толкования Священного Писания в свете творений святых отцов святитель Игнатий основывает на словах апостола Петра: «Никакого пророчества в Писании нельзя разрешить самому собою. Ибо никогда пророчество не было произносимо по воле человеческой, но изрекали его святые Божий человеки, будучи движимы Духом Святым» (2 Пет. 1, 20-21). Эти апостольские слова ясно запрещают произвольно толковать Слово Божие. Святой Дух произнес, а святые апостолы записали Священное Писание, и только Святой Дух может правильно истолковывать его. Боговдохновенные мужи — пророки и апостолы — написали Священное Писание, только боговдохновенные мужи — святые отцы — могут правильно истолковать Его. Все, кто хотят получить истинное познание Слова Божия, должны изучать святых отцов и воспринимать их понимание Слова Божия. Это единственно безопасный путь. Произвольное толкование всегда приводит на путь заблуждений, потому что « Божия никтоже весть, точию Дух Божий» (1 Кор. 2, 11).
								p Как необходимо знание святых отцов при толковании Слова Божия, так же оно нужно и для правильного прохождения христианского подвига. «Отличительною чертою всех святых отцов, — пишет святитель Игнатий, — было неуклонное руководство нравственным преданием Церкви». Все подвижники древних времен прошли трудный подвиг внешнего и внутреннего делания, основанный на покаянии, плаче, смирении, самоукорении и многих других христианских добродетелях. Их творения — это кладези, из которых каждый может почерпать учение о христианских добродетелях и шествовать по пути спасения. «Усвой себе мысли и дух святых отцев чтением их писаний, — предлагает архипастырь-наставник, — святые отцы достигли цели: спасения. И ты достигнешь этой цели по естественному ходу вещей. Святые отцы изложили свои мысли, свое сердце, образ своих действий в своих писаниях. Значит: какое верное руководство к небу…» Под руководством святых отцов, по убеждению святителя Игнатия, можно не только спастись, но даже достигнуть христианского совершенства.
								p В святоотеческих преданиях можно найти ответ на любой вопрос духовной жизни. Святитель Игнатий сравнивает книги святых отцов с богатым собранием врачебных средств, душа христианина может найти в этом собрании врачевство для своих греховных язв.
								p Как Евангелие, так и творения святых отцов владыка Игнатий советует читать постоянно, со вниманием, соблюдая благоразумную умеренность, которая надолго сохраняет «вкус» к писаниям и умножает сердечную жажду к божественной правде, содержащейся в писаниях. Зная, как легко неопытная душа может потерять путь спасения, мудрый наставник предупреждает, что каждый должен избирать себе для чтения творения отцов соответственно своему образу жизни, для того, чтобы он мог не только любоваться и наслаждаться чтением писаний, но и практически прилагать к своей жизни. Изучение подвигов и добродетелей, не соответствующих своему образу жизни, может привести к мечтательности и сделает жизнь бесплодною. «При неправильном чтении Священного Писания и святых отцов легко можно уклониться с спасительного пути в непроходимые дебри и глубокие пропасти, что и случилось со многими», — предостерегает святитель.
								p Мирянин, живущий среди мира, не должен читать книг, написанных для монашествующих. Это чтение будет отвлекать мирянина от добродетелей, которые свойственно ему делать, мечтой о высших духовных подвигах. Эта мечтательность может временами услаждать его воображение, временами же ввергать душу в отчаяние и уныние. Даже если мирянин и преуспеет временно в подвиге, несвойственном его образу жизни, что достигается обычно разгорячением плоти и крови, то все равно долго не сможет пребывать в нем, скоро оставит подвиг, превышающий его возможности. Однако временное упражнение в возвышенном подвиге может на всю жизнь сделать его неспособным к свойственным его образу жизни подвигам благочестия.
								p Христианам, подвиг которых протекает в условиях мирской жизни, святитель Игнатий рекомендует читать творения святых отцов, писавших вообще для всех христиан. К ним относятся: св. Иоанн Златоуст, св. Димитрий Ростовский, святитель Тихон Задонский, Никифор Астраханский и Георгий Затворник.
								p Казалось бы, немного духовных писателей предлагает мирянину владыка, но, как он сам замечает, творения этих писателей — «обильное поприще для чтения! Обильное духовное пастбище, на котором до насыщения и тучности могут питаться словесные овцы Христовы!»
								p Посоветовав одному «государственному мужу» заняться «глубоко» чтением всех сочинений святого Иоанна Златоустого, преосвященный Игнатий писал ему: «Предлагаю вам того церковного писателя, который необыкновенною чистотою, ясностью, силою христианского учения возносит читателя превыше всего земного, на высоте заоблачной витает этот духовный орел и оттуда показывает землю питомцу своему».
								.info-content__image.current.right
									+picture('img/photo/ignaty-brjanchninov-01.jpg', 'image')
								p Хотя святитель Игнатий и рекомендует для чтения творения святителя Димитрия как писателя, носящего печать благодатного помазания и сообщающего это помазание читателям, однако он предупреждает, что его сочинения «не совсем чисты, не вполне в восточном характере… Это значительный недостаток в писаниях св. Дмитрия». Некоторые уклонения от духа Восточной Церкви в сочинениях св. Димитрия святитель Игнатий объясняет тем, что Ростовский святитель долгое время жил в западной России и там получил образование. 
								p Западная же Россия в то время находилась под сильным влиянием латинизма. Из всех сочинений св. Димитрия владыке Игнатию больше всего нравилось по «зрелости духа» в 4-й части приложение к св. истории. Он предполагает, что это было последнее сочинение святого Димитрия. «Четвертая часть сочинений святителя Дмитрия, — писал святитель Игнатий, — особенно хороша, тут можно почерпнуть много сведений очень нужных и очень полезных». Творения святителя Тихона Задонского святитель Игнатий ценил очень высоко. Он поместил даже отрывки из его творений в «Отечнике» наряду с древними подвижниками. К личности Задонского подвижника владыка Игнатий относился с особым благоговением, и думается, что не случайно — в направлении подвига, учении и даже внешних событиях жизни у обоих святителей имеется некоторое сходство. (Настоятельство в монастыре, недолгое управление епархией, литературная деятельность на покое, кончина в день недельный).
								.info-content__image.current.left 
									+picture('img/photo/nikifor-astrahanskiy.jpg', 'image')
								p Архиепископ Никифор Астраханский (1731-1800) написал Толкование на Воскресные Евангелия. По словам святителя Игнатия, это был писатель «очень основательный и с помазанием». По национальности был грек. Образование получил в европейских университетах, затем принял монашество и был приглашен в Россию, где со временем стал Астраханским архиепископом. Рекомендуя сестре Елизавете Александровне прочитать Толкование Воскресных Евангелий архиепископа Никифора, архимандрит Игнатий писал: «Он стоит несравненно выше всех наших церковных писателей (т.е. русских), соединяя в себе основательную ученость с духовным помазанием. Есть признаки, по которым догадываются, что тело его нетленно. Сама увидишь, как превосходна его книга, и потому — какое имеет духовное достоинство писатель».
								.info-content__image.current.right 
									+picture('img/photo/zatvornik-georgiy.jpg', 'image')
								p Задонский затворник Георгий (1789- 1836) был современником святителя Игнатия. В молодости он был воином, затем вступил в обитель и провел 17 лет в неисходном затворе. Скончался он сравнительно рано, 47 лет от роду, но, как говорит святитель Игнатий, «духовным успехом заменив лета многа». Затворник Георгий вел большую переписку со многими лицами. После его смерти многие его письма были собраны и напечатаны. Святитель Игнатий высоко ценил достоинство этих писем. Он говорил, что книга Георгия Затворника стала одной из его «настольных». Предлагая своим знакомым прочитать эту книгу, владыка свидетельствовал, что Георгий — духовный писатель, который превосходит всех, всех духовных писателей его времени, «с пера его текут струи благодатные». Правда, владыка отмечал недостаток внешнего образования писателя, но этот недостаток заменялся у него обильным духовным достоинством. Письма Георгия Затворника святитель Игнатий называл «драгоценной книгой», наполненной утешительных наставлений, особенно для страждущих.
								p Христианин, изучающий творения святых отцов, питает свою душу небесными благами. «Прибегайте больше к чтению святых отцов, пусть они руководствуют вас, напоминают вам о добродетели, наставляют на путь Божий. Этот образ жительства принадлежит нашим временам: он заповедан, предан нам святыми отцами позднейших веков. Жалуясь на крайний недостаток в богопросвещенных наставниках и советниках, он повелевает ревнителю благочестия руководствоваться в жизни своей отеческими писаниями. «Совет святых — разум» (Прит. 9, 10), — вот наставление святителя Игнатия, которым должен по силе возможности руководствоваться в своей духовной жизни каждый христианин.
								.hr 
									+picture('/img/frame/hr.png', 'image') 
								i Из работы иг. Марка (Лозинского) «Духовная жизнь мирянина и монаха по творениям и письмам еп. Игнатия (Брянчанинова)».

