.section-greed._container 
	.section-greed__body 
		.mask-render
		.bg-grad 
		.section-greed__content 
			.section-greed__column
				aside.aside-menu(data-da="bp-1" data-da-position="1" data-da-resolution="690")
					ul.aside-menu__list 
						li.aside-menu__item.link-hover 
							span.aside-menu__link Церковь
						ul.aside-menu__sub-menu 
							li.aside-menu__item 
								a(href=linkTo('church/church-history', filename)).aside-menu__link
									span Крещение
							li.aside-menu__item 
								a(href=linkTo('church/prihodsk-zhizn', filename)).aside-menu__link
									span Епархиальная и приходская жизнь  
							li.aside-menu__item._toggle-menu.is-active  
								.aside-menu__link._trigger  
									span Школа Духовной Жизни
									+iconfont('angle-down', 'icon')
								.aside-menu__collapse 
									ul.aside-menu__sub-menu
										li.aside-menu__item 
											a(href=linkTo('church/shkola/o-boge', filename)).aside-menu__link
												span О Боге
										li.aside-menu__item 
											a(href=linkTo('church/shkola/molitva', filename)).aside-menu__link
												span Молитва
										li.aside-menu__item 
											a(href=linkTo('church/shkola/izuchenie-evangeliya', filename)).aside-menu__link
												span Изучение Евангелия
										li.aside-menu__item
											a(href=linkTo('church/shkola/izuchenie-svyatyih-ottsov', filename)).aside-menu__link
												span Изучение творений святых отцов
										li.aside-menu__item 
											a(href=linkTo('church/shkola/pokayanie', filename)).aside-menu__link
												span Покаяние
										li.aside-menu__item 
											a(href=linkTo('church/shkola/prichashhenie-svyatyih-hristovyih-tayn', filename)).aside-menu__link
												span Причащение Святых Христовых Тайн
										li.aside-menu__item.link-hover 
											.aside-menu__link 
												span Любовь к ближним 
										li.aside-menu__item 
											a(href=linkTo('church/shkola/strah-pered-bogom', filename)).aside-menu__link 
												span Страх перед Богом и любовь к Богу
										li.aside-menu__item 
											a(href=linkTo('church/shkola/postoyannoe-bodrstvovanie', filename)).aside-menu__link 
												span Постоянное бодрствование над собою
										li.aside-menu__item 
											a(href=linkTo('church/shkola/predosterezhenie-svyatitelya-ignatiya', filename)).aside-menu__link 
												span Предостережение святителя Игнатия от опасностей на пути спасения
							li.aside-menu__item._toggle-menu
								.aside-menu__link._trigger  
									span О таинствах церкви
									+iconfont('angle-down', 'icon')
								.aside-menu__collapse 
									ul.aside-menu__sub-menu
										li.aside-menu__item
											a(href=linkTo('church/tainstva/kreshenie', filename)).aside-menu__link 
												span Крещение
										li.aside-menu__item 
											a(href=linkTo('church/tainstva/pokayanie', filename)).aside-menu__link 
												span Покаяние
										li.aside-menu__item
											a(href=linkTo('church/tainstva/evharistiya', filename)).aside-menu__link 
												span Евхаристия
										li.aside-menu__item
											a(href=linkTo('church/tainstva/soborovanie', filename)).aside-menu__link 
												span Соборование (елеосвящение)
										li.aside-menu__item
											a(href=linkTo('church/tainstva/miropomazanie', filename)).aside-menu__link 
												span Миропомазание
										li.aside-menu__item
											.aside-menu__link 
												span Венчание
										li.aside-menu__item 
											a(href=linkTo('church/tainstva/svyashenstvo', filename)).aside-menu__link 
												span Священство 
										li.aside-menu__item 
											a(href=linkTo('church/tainstva/pominanie', filename)).aside-menu__link 
												span Поминовение усопших 
							li.aside-menu__item 
								a(href=linkTo('church/social', filename)).aside-menu__link
									span Социальное служение 
							li.aside-menu__item 
								a(href=linkTo('church/catechism', filename)).aside-menu__link
									span Образование и катехизис 
							li.aside-menu__item 
								a(href=linkTo('church/monashestvo', filename)).aside-menu__link
									span Монашество 
			.section-greed__column 
				.section-greed__bread-crumbs
					nav.bread-crumbs
						ul.bread-crumbs__list
							li
								a(href=getWebRoot(filename) + "index.html" aria-label="home").bread-crumbs__link.link_underline Главная 
							li.bread-crumbs__item  
								+iconfont('angle-right', '_icon') 
							li
								a(href=linkTo('church/church', filename)).bread-crumbs__link.link_underline Церковь 
							li.bread-crumbs__item  
								+iconfont('angle-right', '_icon') 
							li
								.bread-crumbs__link Школа Духовной Жизни
							li.bread-crumbs__item  
								+iconfont('angle-right', '_icon')
							li
								span.bread-crumbs__item Любовь к ближним
				.section-greed__title 
					hgroup.title.tl-02 
						h1 
							span Любовь к ближним
				.section-greed__row
					.info-content 
						.info-content__column 
							.info-content__row
								.hr 
									+picture('/img/frame/hr.png', 'image') 
								p Любовь есть высшая добродетель, которая составляется из полноты всех прочих добродетелей (Кол. 3, 14). А в любви к Богу и ближним сосредоточивается весь закон Божий. «Возлюбиши Господа Бога твоего от всего сердца твоего, и от всея души твоея, и всею крепостию твоею, и всем помышлением твоим, и ближнего твоего, яко сам себе» (Лк. 10, 27). «В сию обою заповеди весь за кон и пророцы висят» (Мф. 22, 40), — возвестил Христос Спаситель.
								.info-content__image.current.left
									+picture('img/photo/spasitel.jpg', 'image') 
								p Кажется, ни о чем так часто не беседуют проповедники, как о любви. Сколько раздается призывов к стяжанию этой высшей добродетели, и однако редкий вития может указать праведный путь к приобретению любви. Только тот, кто сам преуспел в любви, может и других научить, как стяжать ее. Обратимся же к учению о любви архипастыря-подвижника, от юности своей всем сердцем возлюбившего Бога и ближнего. Заповеди о любви к Богу, по словам владыки, на столько возвышеннее заповеди о любви к ближнему, на сколько Бог выше Своего образа. Но заповедь о любви к ближним есть основание к любви Богу. Любовь к ближним вводит христианина в любовь к Богу.
								p Союз любви к Богу с любовью к ближним с исчерпывающей полнотой изложен в посланиях св. апостола и евангелиста Иоанна Богослова. Чувство любви к ближним присуще каждой человеческой душе, но, как и все другие чувства, естественная любовь извращена грехом. Святитель Игнатий пишет: «В каких язвах наша любовь естественная! Какая тяжкая на ней язва — пристрастие. Обладаемое пристрастием сердце способно к всякой несправедливости, ко всякому беззаконию, лишь бы удовлетворить болезненной любви своей». Естественная любовь стремится доставить любимо муземное благополучие, все духовное и вечное чуждо сей естественной любви. Естественной любовью руководит плоть и кровь, которые, в свою очередь, очень легко могут быть возбуждаемы отверженными духами. В любви естественной нет постоянства, она может разгореться очень сильно, но нередко после короткого времени легко обращается в отвращение и даже ненависть. В период своего наивысшего развития естественная любовь хочет безгранично владеть объектом своей любви и, если не достигает желаемого, бывает способна на многие безрассудные поступки и даже преступления. По словам святителя Игнатия, «естественная любовь выражалась и кинжалом».
								p Естественная плотская любовь недостойна называться любовью, потому что она ничего не имеет общего с истинной любовью к ближним, заповеданной Христом Спасителем в Его Евангелии. «Любовь… запечатленная падением, не достойна именоваться любовью: она — искание любви, она… враждебна любви святой, истинной», — говорил владыка. Пред Богом не имеет цены плотская, естественная любовь к ближним. Она отвергается Господом как дар непотребный. Только любовь, почерпнутая в Евангелии, любовь святая и духовная, достойна называться любовью и принимается Богом как дар благоприятный. Для стяжания истинной любви нужно отвергнуть, умертвить в себе естественную любовь и приступить к жизни по евангельским заповедям. «Приступим к Евангелию, — приглашает святитель Игнатий всех христиан, стремящихся иметь к ближним истинную любовь, — по глядимся в это зерцало! Вглядясь в него, свергнем ризы ветхие, в которые облекло нас падение, украсимся ризою новою, которая приготовлена нам Богом».
								p Исполнение евангельских заповедей избавляет человека от греховного плена и приводит под руководство Святого Духа, Который научает истинной, святой любви к ближним. Истинная любовь к ближним имеет основанием веру в Бога. Она вся в Боге, т.к. Бог есть любовь (Ин.4, 16). В ближнем христианин любит Христа, ибо Спаситель «благоволил таинственно облечься в каждого ближнего нашего, а во Христе Бог».
								p Духовная любовь исполнена простоты и веры к ближним, в ней нет подозрительности и ревности, «постоянство и мудрая рассудительность — непременные качества ее». Путь к достижению духовной любви к ближним многотруден и связан с подвигом искоренения греха во всем его разнообразии из человеческого естества.
								p Истинная любовь к ближним не может мгновенно воссиять в сердце христианина; как при достижении любой христианской добродетели, так и при стяжании любви к ближним имеется определенная последовательность. Первоначально необходимо отвергнуть вражду, памятозлобие, гнев, осуждение и все те чувства, которые противоположны любви. Затем нужно, повинуясь Евангелию, научиться молиться за врагов, благословлять клянущих, делать добро ненавидящим и прощать ближним все, что они сделали плохого нам. Чтоб исполнить все перечисленные евангельские заповеди не только на словах, но и в жизни, нужен многолетний подвиг самоотречения. «Пожертвуй всем, — пишет владыка, — для исполнения евангельских заповедей. Без такого пожертвования ты не возможешь быть исполнителем их».
								p Желающий достигнуть истинной любви к ближним должен прежде всего отвергнуть самолюбие и человекоугодие, которые укрепляют в человеке естественную любовь. Самолюбие — искажение любви к самому себе. Тот, кто не имеет к себе духовной любви, не может и ближнего возлюбить духовно.
								p Человекоугодие — искажение любви по от ношению к ближним. Оно, как и самолюбие, является «горестным самообольщением» и, возобладав сердцем человека, делает его неспособным к истинной любви. Только решительное отвержение этих пороков открывает путь к достижению духовной любви. Подвиг искоренения из своего сердца самолюбия и человекоугодия связан с многими усилиями человеческой воли. Греховное естество ожесточенно отстаивает все свои порочные навыки. Святитель Игнатий, употребляя слова святого первомученика и архидиакона Стефана, говорит, что сердца наши, подобно сердцам наших праотец, присно противятся Святому Духу (Деян. 7, 51), и нередко необходима лютая борьба для искоренения греховных чувств. В этой трудной невидимой брани очищения своего сердца за каждую победу Господь награждает подвижника духовным утешением, вкусив которое, он увереннее продолжает начатый подвиг борьбы с усвоившимся человечеству падением. «Учащенные победы, — пишет святитель Игнатий, — привлекают учащенное посещение и утешение благодати; тогда человек с ревностью начинает попирать своеугодие и своеволие, стремясь по пути заповедей к евангельскому совершенству…», к достижению духовной любви.
								p Плотскому человеку, не обновленному еще благодатию Духа Святого, очень трудно искоренить из своего сердца все проявления естественной любви. Чтоб достичь этого, нужно иметь твердую веру в Бога и пре даться всеблагой воле Божией; и не только предать этой воле самого себя, но и всех своих ближних, и в Боге стараться полюбить их. Владыка Игнатий советовал своим пасомым не останавливать в себе чувство расположения к ближним, но быть «проводником их к святому чистому Небу». Если христианин, обращаясь к Богу, будет говорить о возлюбленных своих: «Боже! Они — Твое достояние, Твои создания, Твое, Тебе принадлежат, а я что? Кратковременный странник на земле, внезапно на ней являющийся и внезапно с нее исчезающий», «то он по степенно уврачуется от самолюбия и пристрастия к ближним и станет способным к чистой любви к ближним — любви в Боге».
								p Много и подробно говорит святитель Игнатий о том, как бороться с естественной любовью, в письмах к «брату, занимающемуся умною молитвой». Некоему иноку, имевшему привязанность к Н., владыка советовал несколько раз вдень (3-4) преклонять колена и обращаться к Богу с молитвою: «Господи! Н., которого я думал так любить, думал так уважать, — называл, обманываясь, моим, — Твой, Твое создание, Твоя собственность… Ты Всеблаг: хочешь устроить для него все благое… А я — кто? — Пылинка, горсть земли, сегодня существующая, завтра исчезающая. Какую могу ему принести пользу? — Могу лишь более повредить ему и себе моими порывами, которые кровь, которые грехи. Предаю его в Твою волю и власть! Он уже есть, всегда был в Твоей полной воли и власти; но этого доселе не видел слепотствующий ум мой. Возвращаю Тебе Твое достояние, которое безумно похищал я у Тебя обольщавшими меня мнением моим и мечтанием. Исцели мое сердце, которое думало любить, но которое только больно: потому что любит вне Твоих святых заповедей, с нарушением святого мира, с нарушением любви к Тебе и ближним».
								p Эта молитва, прекрасно выражающая всецелую пре данность своих ближних воле Божией, со временем может ослабить порывы плоти и крови и вселить в сердце святую хладность и духовную любовь к ближним.
								p Кроме всецелого предания своих ближних воле Божией, образованию истинной любви способствует и глубокое внутреннее, а не внешнее, почтение к каждому человеку как образу Божию. «Воздавай почтение ближнему, как образу Божию, — почтение в душе твоей, невидимое для других, явное лишь для совести твоей… Воздавай почтение ближнему, не различая возраста, пола, сословия», — советует богомудрый архипастырь. От внутреннего почтения к образу Божию — человеку по степенно в сердце христианина появится любовь, при чиной которой будет не кровь и плоть, а Бог. Во все времена христиане, достигшие совершенства, имели в своем сердце любовь ко всем людям, не различая добрых и злых. В самом явном грешнике, лишен ном славы христианина, они умели видеть, хотя и помраченный пороком, но все же образ Божий, и его они почитали любовью. Святитель Игнатий говорил: «Если образ Божий будет ввергнут в пламень ада — и там я должен почитать его, что мне за дело до пламени, до ада! Туда ввергнут образ Божий по суду Божию: мое дело сохранить почтение к образу Божию, и тем сохранить себя от ада». Святитель призывал оказывать глубокое почтение всем людям, невзирая на их внешнее положение и состояние. Слепые, прокаженные, поврежденные рассудком, младенцы, уголовные преступники и язычники — все они являются образом Божиим и поэтому достойны любви. Человеческие немощи и недостатки, как велики бы ни были они, для истинного христианина никогда не могут заслонить образа Божия в человеке.
								p Ко всем людям, а особенно к христианам должен относиться с глубоким почтением каждый член святой Церкви. В христианине он воздает почтение Христу. Господь Сам благоволил все сделанное ближним во имя Его принимать как дар Ему Самому. «Понеже сотвористе единому сих братии Моих меньших, Мне сотвористе, — заповедал Христос» (Мф. 25, 40). Евангелие заповедуем любить не только всех своих ближних — родных, друзей, но иметь это же святое чувство и к врагам своим. «Любите враги ваша, благослови те клянущие вы, добро творите ненавидящим вас и молитесь за творящих вам напасть и изгоняющия вы» (Мф. 5, 44) — этот призыв Самого Господа обращен со страниц святого Евангелия ко всем христианам. Любовь к своим врагам непонятна для плотского разума, и только христианин, просвещенный благодатью Святого Духа, может не только теоретически, но и опытно преуспеть в этой любви. В жизнеописании святителя Игнатия уже говорилось, что преосвященный достиг такого совершенства, что мог смотреть на своих врагов, как на святых Ангелов, поэтому его слова о любви к врагам имеют особую важность. Владыка считал, что Евангелие предписывает нам любовь к врагам «не слепую, не безрассудную, но освященную духовным рассуждением». Евангелие говорит о любви к врагам, но в нем же повелевается не вверяться им (врагам) и быть с ними очень осторожными. Спаситель, предостерегая Своих учеников, а в их лице и всех Своих последователей, сказал: «Се Аз посылаю вас яко овцы посреде волков, будите убо мудри яко змия, и цели яко голубие. Внемлите же от человек: предадят бо вы на сонмы, и на соборищах их биют вас… и будете ненавидимы всеми имени Мо его ради…» (Мф. 16-17, 22). В этих словах Господа владыка Игнатий справедливо видит предписание осторожного и, по возможности, мудрого отношения к врагам своим.
								p В чем же тогда должна проявляться любовь к своим недругам? По высказыванию любвеобильного архипастыря, любовь к врагам должна проявляться в прощении нанесенных ими обид, в молитве за них, в благословении их, в хороших словах о них, в благодарности Богу за причиненные врагами напасти, деланием им добра, «в благотворении, которое может простираться до вкушения телесной смерти для спасения врагов. Пример всесовершенной любви к врагам явил Сам Спаситель мира Иисус Христос. В одной из своих проповедей святитель Игнатий в образец любви к врагам приводит святого первомученика и архидиакона Стефана, который, побиваемый камнями, молился за своих убийц (Деян. 7, 60). «Пылал… священным огнем святый первомученик Стефан, — сказал владыка, — …последовали удары смертоносные, от лютости их пал Стефан полумертвым на колени, но огнь любви к ближнему в минуты разлуки с жизнью еще живее воспылал в нем… Последним движением его сердца было — движение любви к ближним, последним словом и делом была молитва за убийц своих». Святитель Игнатий учил, что не только к врагам, но и к друзьям любовь должна быть освещена духовным рассуждением. Любить друзей нужно во Христе, чтобы Христос был любим в ближнем, а ближний был любим как создание Божие.
								p Христианин, любящий в ближних Христа, будет иметь ко всем равную любовь. Святитель Игнатий в одном из писем спрашивает: «Неужели любовь к ближнему должна быть чужда всякого различия?» — и сам же разрешает это вопрос, приведя в пример святых угодников Божиих. «Святые, — утверждает владыка, — имели ко всем равную любовь, но особенно любили тех, кто проводил благочестивую жизнь. Наставники имели большее расположение к тем пасомым, в которых виде ли ревность и полное послушание. Наставляемые всегда имеют большую любовь к тем наставникам, в которых они видят живой пример назидания и обилие духовного разума». По мысли владыки, «любовь, отдающая должную цену людям по степени их благочестия, вместе с этим, равна ко всем, потому что она во Христе и любит во всем Христа. Иной сосуд вмещает это духовное сокровище больше, другой меньше. Сокровище — одно!» Святитель Игнатий постоянным подвигом самоотречения погасил в себе плотскую любовь к ближним, поэтому его отношение к близким к нему людям было преисполнено истинной евангельской любви. Он высоко ценил дружбу, считал ее великим Божиим даром. «Друзей мне дал Бог, — писал преосвященный, — эту мзду принял я от Всевышнего за мысль самоотвержения, которой последовал с дней юности моей». В основе своих отношений с друзьями святитель Игнатий имел Христа, и поэтому крепка и душеспасительна была его дружба. «Только та дружба истинна и крепка, которую основывает и скрепляет Христос», — писал он.
								p Дар дружбы, по убеждению владыки, дается земным странникам для того, чтобы друзья взаимной откровенностью и советом помогали друг другу достигать спасения. Эту истинную цель дружбы архипастырь изложил в письме к одному из своих друзей. «Мое сердце — с такой же сладостною простотою к вам, как и ваше ко мне, — писал он. — Такие отношения — истинное сокровище… А то утешает меня особенно в моих отношениях дружеских, что причина этих отношений — Бог… Он источник истинного блага, всякого истинного, чистого наслаждения. Он сохранит меня в вашей памяти, а вас в моей. Он даст нам усугубить талант дружбы, полученный от Него. Вот чего я желаю, — желаю, чтоб при вступлении в вечность мы сподобились в сонме благих и верных рабов предстать Господу и сказать Ему: «Ты даровал нам прекрасный талант дружбы, приносим Тебе приобретенный на него другой талант — талант драгоценный спасения».
								p Святитель Игнатий считал, что преуспеяние в любви к ближним, когда оно в Боге, не имеет конца. Истинной любовью к ближним невозможно насытиться, потому что питает ее беспредельный Бог. «Огнь любви требует много пищи для того, чтоб он мог постоянно умножаться, — свидетельствует владыка, — когда питает его Бог, — он непрестанно усиливается, нет ему предела, но когда предоставлено питать его человеку самим собой — скоро оскудеет пища для огня, — огнь потускнеет и угаснет.
								p Истинная любовь к ближним приносит христианину величайшее духовное наслаждение и уготовляет его обителям рая, ибо она (любовь) есть «печаль души, способной для неба». Тот, кто сподобился духовной любви к ближним, опытно познает омерзительность плотской любви, искренне приносит покаяние в том, что прежде имел ее, и стремится возгреванием в себе любви святой никогда не возвращаться к любви естественной.
								p Истинная любовь к ближним, как и внимательная молитва, является признаком совершенства христианина. «Возлюбленный брат! — призывает всех христиан святитель Игнатий, — ищи раскрыть в себе духовную любовь к ближним: войдя в нее, войдешь в любовь к Богу, во врата воскресения, во врата Царства Небесного». 
								.hr 
									+picture('/img/frame/hr.png', 'image') 
								i Из работы иг. Марка (Лозинского) «Духовная жизнь мирянина и монаха по творениям и письмам еп. Игнатия (Брянчанинова)».