.section-greed._container 
	.section-greed__body 
		.mask-render
		.bg-grad 
		.section-greed__content 
			.section-greed__column
				aside.aside-menu(data-da="bp-1" data-da-position="1" data-da-resolution="690")
					ul.aside-menu__list 
						li.aside-menu__item.link-hover 
							span.aside-menu__link Церковь
						ul.aside-menu__sub-menu 
							li.aside-menu__item 
								a(href=linkTo('church/church-history', filename)).aside-menu__link
									span Крещение
							li.aside-menu__item 
								a(href=linkTo('church/prihodsk-zhizn', filename)).aside-menu__link
									span Епархиальная и приходская жизнь 
							li.aside-menu__item._toggle-menu 
								.aside-menu__link._trigger  
									span Школа Духовной Жизни
									+iconfont('angle-down', 'icon')
								.aside-menu__collapse 
									ul.aside-menu__sub-menu
										li.aside-menu__item 
											a(href=linkTo('church/shkola/o-boge', filename)).aside-menu__link 
												span О Боге
										li.aside-menu__item 
											a(href=linkTo('church/shkola/molitva', filename)).aside-menu__link 
												span Молитва
										li.aside-menu__item 
											a(href=linkTo('church/shkola/izuchenie-evangeliya', filename)).aside-menu__link 
												span Изучение Евангелия
										li.aside-menu__item 
											a(href=linkTo('church/shkola/izuchenie-svyatyih-ottsov', filename)).aside-menu__link 
												span Изучение творений святых отцов
										li.aside-menu__item 
											a(href=linkTo('church/shkola/pokayanie', filename)).aside-menu__link 
												span Покаяние
										li.aside-menu__item 
											a(href=linkTo('church/shkola/prichashhenie-svyatyih-hristovyih-tayn', filename)).aside-menu__link 
												span Причащение Святых Христовых Тайн
										li.aside-menu__item 
											a(href=linkTo('church/shkola/lyubov-k-blizhnim', filename)).aside-menu__link 
												span Любовь к ближним 
										li.aside-menu__item 
											a(href=linkTo('church/shkola/strah-pered-bogom', filename)).aside-menu__link 
												span Страх перед Богом и любовь к Богу
										li.aside-menu__item 
											a(href=linkTo('church/shkola/postoyannoe-bodrstvovanie', filename)).aside-menu__link 
												span Постоянное бодрствование над собою
										li.aside-menu__item 
											a(href=linkTo('church/shkola/predosterezhenie-svyatitelya-ignatiya', filename)).aside-menu__link 
												span Предостережение святителя Игнатия от опасностей на пути спасения
							li.aside-menu__item._toggle-menu.is-active 
								.aside-menu__link._trigger  
									span О таинствах церкви
									+iconfont('angle-down', 'icon')
								.aside-menu__collapse 
									ul.aside-menu__sub-menu
										li.aside-menu__item
											a(href=linkTo('church/tainstva/kreshenie', filename)).aside-menu__link 
												span Крещение
										li.aside-menu__item 
											a(href=linkTo('church/tainstva/pokayanie', filename)).aside-menu__link 
												span Покаяние
										li.aside-menu__item.link-hover  
											.aside-menu__link 
												span Евхаристия
										li.aside-menu__item 
											a(href=linkTo('church/tainstva/soborovanie', filename)).aside-menu__link 
												span Соборование (елеосвящение)
										li.aside-menu__item 
											a(href=linkTo('church/tainstva/miropomazanie', filename)).aside-menu__link 
												span Миропомазание
										li.aside-menu__item 
											a(href=linkTo('church/tainstva/venchanie', filename)).aside-menu__link 
												span Венчание
										li.aside-menu__item 
											a(href=linkTo('church/tainstva/svyashenstvo', filename)).aside-menu__link 
												span Священство 
										li.aside-menu__item 
											a(href=linkTo('church/tainstva/pominanie', filename)).aside-menu__link 
												span Поминовение усопших 
							li.aside-menu__item 
								a(href=linkTo('church/social', filename)).aside-menu__link
									span Социальное служение 
							li.aside-menu__item 
								a(href=linkTo('church/catechism', filename)).aside-menu__link
									span Образование и катехизис 
							li.aside-menu__item 
								a(href=linkTo('church/monashestvo', filename)).aside-menu__link
									span Монашество 
			.section-greed__column 
				.section-greed__bread-crumbs
					nav.bread-crumbs
						ul.bread-crumbs__list
							li
								a(href=getWebRoot(filename) + "index.html" aria-label="home").bread-crumbs__link.link_underline Главная 
							li.bread-crumbs__item  
								+iconfont('angle-right', '_icon')
							li
								a(href=linkTo('church/church', filename)).bread-crumbs__link.link_underline Церковь 
							li.bread-crumbs__item  
								+iconfont('angle-right', '_icon')
							li
								.bread-crumbs__link Таинства церкви 
							li.bread-crumbs__item  
								+iconfont('angle-right', '_icon')
							li
								span.bread-crumbs__item Евхаристия
				.section-greed__title 
					hgroup.title.tl-02 
						h1 
							span Евхаристия 
				.section-greed__row
					.info-content 
						.info-content__column 
							.info-content__row
								.hr 
									+picture('/img/frame/hr.png', 'image') 
								p Как все живое не может жить без солнца, так все духовное не может жить, не питаясь тем Хлебом, который есть Спаситель. Как можем мы питаться Хлебом с большой буквы? Это великая тайна. И совершается она в <strong>Таинстве Причащения Тела и Крови Христовых</strong>.
								.info-content__image.current.left
									+picture('img/photo/evharistiya-01.jpg', 'image')
								p Иисус Христос, живя на земле, был как бы простым человеком, не имеющим внешних отличий от других людей. У него было то же тело, что у человека, но это тело было как бы покровом, за которым скрывалось Его Божество. Точно так же мы под видом хлеба и вина воспринимаем истинное Тело и истинную Кровь Господа Иисуса Христа. В Ветхом Завете есть одно место, где говорится, что кровь животного неразрывно связана с его душой: Кровь бо есть душа его (Вт. 12, 23). Точно также, когда мы причащаемся Тела и Крови, то все наше существо входит в тесное соприкосновение с душой Господа Иисуса Христа, потому что душа Его пребывает в Его Теле и Крови. А приходя в соприкосновение с душой Господа Иисуса Христа, мы через это делаемся причастниками Божественного естества.
								p Сразу или после Причастия человек чувствует близость Божию в своей душе: страсти, помыслы, мечтания утихают. Человек получает как бы власть над своими мыслями и чувствами. Это – свидетельство того, что Тело и Кровь Божии – истинный Хлеб жизни и что, причащаясь Святых Таинств, мы входим в непосредственное соприкосновение с Господом. Многие испытывали, как дух зла, темные силы стараются воспрепятствовать Причащению Тела и Крови Христовых. Когда человек готовится ко Святому Причащению, часто возникает множество препятствий, внутренних и внешних. Появляются, например, холодность, бесчувствие, поднимаются страсти. И после Причастия темные силы часто стараются воспрепятствовать восприятию плодов этого Таинства. Сила зла боится, страшится Святых Тайн, ибо Святые Тайны имеют великую силу. И когда мы причастились, мы должны хранить себя, не должны предаваться болтливости или сонливости, должны уединиться в своей душе, хотя бы некоторое время побыть с Тем, Кто вошел в нашу душу. (Архимандрит Борис (Холчев))
								p Таинство святого причащения установил Сам Господь Иисус Христос во время последней Тайной Вечери, накануне Своих страданий и смерти. Он Сам совершил это Таинство: “И когда они ели, Иисус взял хлеб и благословив преломил и, раздавая ученикам, сказал: приимите, ядите: сие есть Тело Мое. И взяв чашу и благодарив, подал им и сказал: пейте от нее все; ибо сие есть Кровь Моя нового завета, за многих изливаемая во оставление грехов” (Евангелие от Матфея, 26, 26-28). Установив таинство причащения, Господь заповедал совершать его всегда: “сие творите в Мое воспоминание” (Евангелие от Луки, 22, 19). 
								p Для чего существует Таинство причащения? Для поддержания духовной жизни, ее развития и возрастания в ней, необходимо вкушение пищи. Лишенного этой пищи человека постигает духовная смерть. Этой особой духовной пищей, “Хлебом, сошедшим с небес”, для всех христиан и является Тело и Кровь Христовы. Сам Господь в беседе с народом сказал: “Если не будете есть плоти Сына Человеческого и пить крови Его, то не будете иметь в себе жизни. Ядущий Мою плоть и пиющий мою кровь имеет жизнь вечную, и Я воскрешу его в последний день. Ибо плоть Моя истинно есть пища, и кровь Моя истинно есть питие. Ядущий мою плоть и пиющий Мою кровь пребывает во Мне, и Я в нем” (Евангелие от Иоанна, 6, 53-56). 
								p Таким образом, православный христианин, прибегающий к Таинству причащения, имеет возможность здесь, на земле, совершенно реально соединиться с Богом. Ни какая иная религия такой возможности человеку не предоставляет.
								p Согласно заповеди Христовой, таинство причащения постоянно совершается в Церкви Христовой и будет совершаться до скончания века за богослужением, называемым Литургией, во время которой хлеб и вино, силой и действием Духа Святого, прелагаются в истинное Тело и истинную Кровь Христову.
								p Покаяние должно совершаться не одними устами, не кратковременными слезами, не одним наружным участием в исповеди, но во внутреннем сокрушении — раскаянии в соделанных грехах, в искреннем исповедании их духовнику и, самое главное, в твердой решимости оставить греховную жизнь и жить, как учит Евангелие. Святитель Игнатий напоминает каждому христианину, что Бог дал покаяние в помощь человеку в борьбе с грехом, а не для «потачки» греху, дар Божий не должно употреблять во зло. Вслед за св. Исааком Сирским, владыка свидетельствует, что все те, кто в надежде на покаяние грешат произвольно и намеренно, поступают «коварно» по отношению к Богу. Их поразит внезапная смерть, и не дано им будет время на покаяние и приобретение добродетели. 
								p Именно потому, что Тело и Кровь Господа нашего Иисуса Христа является для всех христиан истинной духовной пищей и питием, прибегать к нему нужно как можно чаще. Первые христиане обязательно причащались на каждой Литургии. Конечно, мы сегодня не обладаем такой чистотой жизни, чтобы причащаться так часто. Хотя и теперь, служащий священник обязан причащаться на каждой Литургии. Но и мирянам желательно прибегать к этому великому Таинству хотя бы в каждый пост, и уж никак не реже раза в год.
								p Велико и страшно Таинство причащения. Поэтому подготовляться к нему необходимо особым образом.
								.hr 
									+picture('/img/frame/hr.png', 'image') 